/* Add mobile styles for the component here.  */
.circle {
    height: 25px;
    width: 25px;
    border-radius: 100px;
}

.circle-big {
    height: 65px;
    width: 65px;
    font-size: 12px;
    border-radius: 100px;
}

.android360 :host {
    .circle {
        height: 35px;
        width: 35px;
        border-radius: 100px;
    }

    .circle-big {
        height: 90px;
        width: 90px;
        font-size: 12px;
        border-radius: 100px;
    }
}

.android600 :host {
    .circle {
        height: 35px;
        width: 35px;
        border-radius: 100px;
    }

    .circle-big {
        height: 100px;
        width: 100px;
        font-size: 12px;
        border-radius: 100px;
    }
}

.task-answer-timeline {
    width: 56%;
}

.task-answer-timeline-body {
    position: relative;
}

.line-through {
    margin-left: 1%;
    width: 98%;
    height: 5px;
    background: rgba(221, 225, 229, 0.5);
}

.above {
    position: absolute;
    width: 100%;
}


.avatar{
    color: rgb(26, 24, 24);
    height: 50;
    width: 50;
    font-size: 45;
    padding: 0;
    border-radius: 100;
    background-color: #dfdfdf;
}

.circle-wrapper{
    border-radius: 100;
    width: 100%;
    height: 100%;
}

.card{
    border-color: #ebebeb; 
    border-width: 1 1 1 1;
    background-color: #fff;
    height:auto;
    width:100%; 
}

.w-200 {
    width: 200px;
}