<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="currentTask.Task.Title" [showMenuButton]="false"
    (actionItemClick)="actionItemClicked($event)" [backbuttonConfig]="backbuttonConfig" class="action-bar"></EcapActionBar>

<FlexboxLayout flexDirection="column" justifyContent="space-between" height="100%">
    <ScrollView width="100%" orientation="vertical">
        <FlexboxLayout flexDirection="column">
            <StackLayout orientation="vertical" class="p-32 bg-grey border-bottom-grey">
                <Label class="font-size-24 color-black-87 font-weight-bold m-b-20"
                    [text]="currentTask.Task.Title" textWrap="true"></Label>
                <Label class="font-size-14 color-black-60"
                    [text]="currentTask.Task.Description ? currentTask.Task.Description : 'No description'"
                    textWrap="true"></Label>

                <FlexboxLayout flexWrap="wrap" justifyContent="space-between">
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Topic" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.TopicValue" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Category" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.CategoryName" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Sub-category" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.SubCategoryName" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Submission Date" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" 
                            [text]="currentTask.TaskSchedule.SubmissionDate | date: 'longDate'" textWrap="true"></Label>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>

            <StackLayout class="p-32">
                <Label class="font-size-16 color-black-87 m-b-20" text="Answer" textWrap="true"></Label>
                <FlexboxLayout flexDirection="row" alignContent="flex-start">
                    <ng-container *ngFor="let circle of circles; let i = index; let last = last">
                        <StackLayout orientation="horizontal">
                            <StackLayout verticalAlignment="center">
                                <StackLayout horizontalAlignment="center" verticalAlignment="center"
                                    [ngClass]="circle === LinearAnswer? 'circle-big': 'circle'"
                                    [ngStyle]="{'backgroundColor': generateRedToGreenColorWithRange(i,10)}">
                                    <Label *ngIf="circle === LinearAnswer" class="font-size-16 font-weight-600" style="color:#fff" [text]="circle + '%'"
                                        horizontalAlignment="center"></Label>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="!last" borderColor="#DDE1E5" borderWidth="1" height="5" alignSelf="stretch" width="18"></StackLayout>
                        </StackLayout>
                    </ng-container>
                </FlexboxLayout>
            </StackLayout>

            <StackLayout class="p-32">
                <Label class="font-size-16 color-black-87 m-b-20" text="Controlled Member" textWrap="true"></Label>
                <Label *ngIf="!currentTask.ControlledMembers.length" class="font-size-14 color-black-60 m-b-20" text="Not available." textWrap="true"></Label>
                <!-- <FlexboxLayout flexWrap="wrap" *ngIf="currentTask.ControlledMembers.length">
                    <StackLayout class="card m-r-8 m-b-8" orientation="horizontal" *ngFor="let item of currentTask.ControlledMembers">
                        <CardView style="width:100%" ripple="true" elevation="4" radius="1" android:shadowRadius="4">
                            <FlexboxLayout flexDirection="row" alignItems="flex-start" class="p-16">
                                <Label  class="avatar fa text-center" text="&#xf007;"></Label>
                                <StackLayout class="p-l-16">
                                    <Label class="font-size-20 m-b-10" text="Vincent Luggers" textWrap="true"></Label>
                                    <Label class="font-size-14 m-b-8" text="+43820924150" textWrap="true"></Label>
                                    <Label class="font-size-14" text="vincent.luggers@sample.com" textWrap="true"></Label>
                                </StackLayout>
                            </FlexboxLayout>
                        </CardView>
                    </StackLayout>
                </FlexboxLayout> -->
                <RadListView [items]="currentTask.ControlledMembers">
                    <ng-template tkListItemTemplate let-item="item">
                        <StackLayout class="m-r-8">   
                            <StackLayout class="card m-b-8">
                                <CardView style="width:100%" ripple="true" elevation="4" radius="1" android:shadowRadius="4">
                                    <FlexboxLayout flexDirection="row" alignItems="flex-start" class="p-16">
                                        <Label  class="avatar fa text-center" text="&#xf007;"></Label>
                                        <StackLayout class="p-l-16">
                                            <Label class="font-size-20 m-b-10" text="Vincent Luggers" textWrap="true"></Label>
                                            <Label class="font-size-14 m-b-8" text="+43820924150" textWrap="true"></Label>
                                            <Label class="font-size-14" text="vincent.luggers@sample.com" textWrap="true"></Label>
                                        </StackLayout>
                                    </FlexboxLayout>
                                </CardView>
                            </StackLayout>
                        </StackLayout>
                    </ng-template>
                    <ListViewGridLayout tkListViewLayout scrollDirection='Vertical' ios:itemHeight="500" [spanCount]="spanCount"></ListViewGridLayout>
                </RadListView>
            </StackLayout>

            <StackLayout class="p-32">
                <Label class="font-size-16 color-black-87 m-b-20" text="Remarks" textWrap="true"></Label>
                <Label *ngIf="!currentTask.Remarks"  class="font-size-14 color-black-60 m-b-20" text="Not available." textWrap="true"></Label>
                <StackLayout>
                    <HtmlViewer [html]="currentTask.Remarks" [textSize]="16" [textColor]="'rgba(0,0,0,0.60)'"
                            [truncateSize]="115" [truncateSuffix]="'...'"></HtmlViewer>
                </StackLayout>
            </StackLayout>

            <StackLayout class="p-32">
                <Label class="font-size-16 color-black-87 m-b-20" text="Reported by Controlling Member" textWrap="true"></Label>
                <Label *ngIf="!currentTask.ControllingMembers.length" class="font-size-14 color-black-60 m-b-20" text="Not available." textWrap="true"></Label>

                <FlexboxLayout flexWrap="wrap" *ngIf="currentTask.ControllingMembers.length">
                    <StackLayout class="card m-r-8 m-b-8" orientation="horizontal" *ngFor="let item of currentTask.ControllingMembers">
                        <CardView style="width:100%"  ripple="true" elevation="4" radius="1" android:shadowRadius="4">
                            <FlexboxLayout flexDirection="row" alignItems="flex-start" class="p-16">
                                <StackLayout style="background-color: #9e9d9d" class="circle-big">

                                </StackLayout>
                                <StackLayout class="p-l-16">
                                    <Label class="font-size-20 m-b-10" text="Vincent Luggers" textWrap="true"></Label>
                                    <Label class="font-size-14 m-b-8" text="+43820924150" textWrap="true"></Label>
                                    <Label class="font-size-14" text="vincent.luggers@sample.com" textWrap="true"></Label>
                                </StackLayout>
                            </FlexboxLayout>
                        </CardView>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>
        </FlexboxLayout>
    </ScrollView>
    <StackLayout width="100%" borderColor="#dfdfdf" borderWidth="1" orientation="horizontal" class="p-0"
        horizontalAlignment="center" height="150dp">
        <StackLayout *ngIf="!isTaskCompleted" width="50%" verticalAlignment="center">
            <Button borderColor="#dfdfdf" borderWidth="1" text="Answer Question"
                horizontalAlignment="center" class="btn-primary font-weight-600 font-size-14 text-spacing-015"
                (tap)="answerQuestion()" style="height: 50dp"></Button>
        </StackLayout>

        <StackLayout *ngIf="isTaskCompleted"  width="50%" verticalAlignment="center">
            <Button borderColor="#dfdfdf" borderWidth="1" text="Edit Answer"
                horizontalAlignment="center" class="btn-primary font-weight-600 font-size-14 text-spacing-015"
                (tap)="editAnswer()" style="height: auto"></Button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>