<ActionBar title="Audit Sync">
    <GridLayout columns="auto" rows="auto">
        <Label row="0" col="0" text="Synchronizing" class="action-label"></Label>
    </GridLayout>
</ActionBar>

<app-platform-sync *ngIf="isSyncFilesReadyForZip" [isReadOnlySyncInput]="isReadOnlySync" [syncPrepDataInput]="syncPrepData" [isFilesNeedToDownload]="isFilesNeedToDownload"
                   [filesToDownloadInput]="filesToDownload" [isSyncFilesReadyForZipInput]="isSyncFilesReadyForZip"
                   [syncFilesFolderInput]="syncFilesUpFolder" [filesToUploadInput]="filesToUpload" [outputSyncBulkArchiveFileIdInput]="outputSyncBulkArchiveFileId"
                   (processFileUploadUpdate)="finishedLocalMediaUpload($event)" (uploadFinish)="goForSync($event)">
</app-platform-sync>


<StackLayout cornerRadius="10" class="main-container p-24" style="margin-left: 80px;" height="100%" width="500" orientation="vertical"
             horizontalAlignment="center" verticalAlignment="center">
    <ScrollView>
        <StackLayout class="sc_fine21" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
            <Label *ngIf="!isInternetFails" class="sc_body"
                text="Please wait, data is synchronizing"
                textWrap="true"></Label>
            <StackLayout *ngIf="!isInternetFails && syncProgressStepArray.length>0">
                <GridLayout *ngFor="let step of syncProgressStepArray;  let j = index;" class="sc_grid"
                            rows="auto, auto, auto, auto, auto"
                            columns="auto,auto">
                    <Label *ngIf="step.StatusCode === platformSyncService.syncStatusTypes.Progress" row="0" col="0" [text]="syncIcon"
                        class="color-primary-500" fontSize="36" class="md-icon" #j (loaded)="startProgressAnimation(j)"></Label>
                    <Label *ngIf="step.StatusCode === platformSyncService.syncStatusTypes.Finished" row="0" col="0" [text]="syncDone"
                        style="color:#3ca532;" fontSize="36" class="md-icon"></Label>
                    <Label *ngIf="step.StatusCode === platformSyncService.syncStatusTypes.Yettostart" row="0" col="0" [text]="syncIcon"
                        style="color:#D7DCE1;" fontSize="36" class="md-icon"></Label>
                    <Label row="0" col="1"
                        [ngClass]="step.StatusCode === platformSyncService.syncStatusTypes.Yettostart? 'sc_yetto_worked_label' : 'sc_worked_label'"
                        text="{{step.StepName}}" textWrap="true"></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout *ngIf="isInternetFails">
                <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="center" *ngIf="syncProgressStepArray[2].StatusCode !== platformSyncService.syncStatusTypes.Finished">
                    <Label [text]="'gr-icn_nointernet'" class="color-primary-500" fontSize="48" class="gr"></Label>
                    <Label text="Synchronisation fehlgeschlagen" class="color-primary-500" fontSize="48"></Label>
                    <Label text="Keine ausreichende Internetverbindung" class="color-primary-500" fontSize="24"></Label>
                    <Label text="Bitte versuchen Sie es später wieder." class="color-primary-500" fontSize="24"></Label>
                </StackLayout>
                <StackLayout orientation="vertical" horizontalAlignment="center" verticalAlignment="center" *ngIf="syncProgressStepArray[3].StatusCode === platformSyncService.syncStatusTypes.Finished">
                    <Label [text]="'gr-icn_nointernet'" class="color-primary-500" fontSize="48" class="gr"></Label>
                    <Label text="Synchronisation abgeschlossen" class="color-primary-500" fontSize="48"></Label>
                    <Label text="Einige Dateidownloads wurden unterbrochen." class="color-primary-500" fontSize="24"></Label>
                    <Label text="Diese Datei wird bei der nächsten Synchronisation heruntergeladen." class="color-primary-500" fontSize="24"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="horizontal" horizontalAlignment="left"
                        class="sc_fine22" *ngIf="syncProgressStepArray.length > 0">
                <Button *ngIf="isInternetFails"
                        class="sc_btnCancel"
                        verticalAlignment="center" text="Schließen" backgroundColor="#e1e6eb"
                        (tap)="cancelSync()"></Button>

                <Button borderColor="transparent" borderWidth="1" *ngIf="!isInternetFails && syncProgressStepArray[3] && syncProgressStepArray[3].StatusCode !== platformSyncService.syncStatusTypes.Finished"
                        verticalAlignment="center" text="Cancel" class="btn-primary" (tap)="cancelSync()"></Button>

                <!--<Button *ngIf="!isInternetFails && syncProgressStepArray[3].StatusCode ==='Finished' && syncProgressStepArray[5].StatusCode === platformSyncService.syncStatusTypes.Yettostart"
                        class="sc_submit-button"
                        verticalAlignment="center" text="Überspringen" (tap)="modalClose('skipFileDownload')"></Button>-->
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
