<ng-template #gdprContainer>
    <ng-container *ngFor="let gdprContents of allGdprContents">
        <ng-container *ngIf="gdprContents.TermAndConditionType ==  currentGdprType">
            <HtmlView style="height: 200px" [html]="gdprContents.TermAndConditionContent" ></HtmlView>
        </ng-container>
    </ng-container>
</ng-template>