/* Hide a bunch of things to setup the initial animations */
.form-controls, .sign-up-stack {
  opacity: 1;
}

.background {
  background-image: url("res://gr_artboard");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* TODO: Assigning explicit heights and applying this margin shouldn’t be necessary. */
/* .initial-container {
  margin-top: 170;
}
.initial-logo {
  horizontal-align: center;
  margin-bottom: 10;
}
.initial-label {
  color: white;
  horizontal-align: center;
  margin-bottom: 80;
}
.initial-button {
  background-color: white;
  color: #CB1D00;
  height: 45;
  width: 275;
  vertical-align: center;
}
.initial-button-label {
  horizontal-align: center;
  font-weight: bold;
} */

.main-container {
  opacity: 1;
  background-color: white;
  border-radius: 2;
}
.main-label {
  text-align: center;
  color: black;
}

Image {
  margin-top: 5;
  margin-bottom: 20;
}
/* Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
TextField {
  color: black;
  placeholder-color: #ACA6A7;
}
TextField.light {
  color: #C4AFB4;
  placeholder-color: #C4AFB4;
} */
.submit-button {
  background-color: #F01414;
  color: white;
  padding: 24;
  margin: 0;
  /* margin-top: 20; */
}

.forgot-password-label {
  font-size: 30;
  color: black;
}

.logo-container {
  visibility: collapse;
  text-align: center;
  opacity: 0;
}
