<tns-platform-login-default style="height:100%" [loginDefaultRoutes]="loginDefaultRoutes" [loginPageData]= "loginPageData">
</tns-platform-login-default>

<tns-platform-gdpr 
    *ngIf="showGDPR" 
    [gdprConfiguration] = "gdprConfiguration"
    [getGdprContentUsingInterface] = "getGdprContentUsingInterface" 
    [requiredConditionsDetails] = "requiredConditionsDetails">
</tns-platform-gdpr>

