<!-- <ActionBar title="TRACKORD"> 
    <GridLayout columns="*, 25*,*,*" rows="auto">
        <Label row="0" col="0" text="Menu" (tap)="onDrawerButtonTap()"></Label>
        <Label row="0" col="3" text="Logout" (tap)="logout()"></Label>
    </GridLayout>

</ActionBar> -->
<ActionBar title="" class="p-r-16" [flat]="isFlat">
    
    <NavigationButton text="Go back" *ngIf="!backbuttonIconUrl" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <NavigationButton text="Go back" *ngIf="backbuttonIconUrl" [icon]="backbuttonIconUrl"  (tap)="goBack()"></NavigationButton>

    <NavigationButton ios:visibility="hidden" 
                      *ngIf="showMenuButton" 
                      text="Menu" 
                      [icon]="actionBarConfiguration.menuIconSrc ? actionBarConfiguration.menuIconSrc : 'res://ic_action_menu'" 
                      (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem *ngIf="showMenuButton" 
                icon="res://ic_action_menu" 
                ios.position="left" 
                android:visibility="hidden" 
                (tap)="onDrawerButtonTap()"></ActionItem>
    
    <!-- <StackLayout orientation="horizontal" android:horizontalAlignment="left" style="border-color:black; border-width: 1px;">
        <Label text="{{title}}" textWrap="true" class="action-label"> </Label>
    </StackLayout> -->
            

    <GridLayout>
        <StackLayout  android:horizontalAlignment="left" verticalAlignment="center">
            <Label text="{{title}}" textWrap="true" class="action-label"  verticalAlignment="center"></Label>
            <Label *ngIf="description" text="{{description}}" textWrap="true" fontSize="12" color="rgba(70,73,76,0.32)" verticalAlignment="center"></Label>
        </StackLayout>

        <Image *ngIf="actionBarConfiguration.logo" [src]="actionBarConfiguration.logo.src"  horizontalAlignment="right" width="100" stretch="aspectFit"></Image>
    </GridLayout>
    

    <!-- for Android -->
    <ActionItem ios:visibility="hidden" *ngFor="let item of actionBarConfiguration.actionItems" 
        [android.position]="item.androidActionItemPosition" style="color: white;"  [text]="item.actionItemText" (tap)="onTap(item)">
        <Label *ngIf="item.androidActionItemPosition != 'popup'" [text]="item.actionItemIcon" class="md-icon" style="font-size: 20; padding: 10px"></Label>
    </ActionItem>

    <!-- for iOS -->
    <ActionItem android:visibility="hidden" *ngFor="let item of actionBarConfiguration.actionItems" 
        [ios.position]="item.iosActionItemPosition" style="color: white;"  [text]="item.actionItemText" (tap)="onTap(item)">
        <Label *ngIf="item.iosActionItemPosition != 'popup'" [text]="item.actionItemIcon" class="md-icon" style="font-size: 20; padding: 10px"></Label>
    </ActionItem>
    
</ActionBar>
