.action-image {
    width: 40;
    height: 40;
    vertical-align: center;
    margin-bottom: 5px;
}

.action-label {
    // color: white;
    font-size: 16;
    height: auto;
    font-weight: 600;
}

.action-navigation {
    vertical-align: center;
    margin: 10px;
    
}

.actionbar-height {
    height: 100%;
}