/* Hide a bunch of things to setup the initial animations */
/* .form-controls, .sign-up-stack {
  opacity: 1;
}

.main-label {
  text-align: center;
  color: black;
}

Image {
  margin-top: 5;
  margin-bottom: 20;
}
.submit-button {
  background-color: #F01414;
  color: white;
  padding: 24;
  margin: 0;
}

.forgot-password-label {
  font-size: 30;
  color: black;
}

.logo-container {
  visibility: collapse;
  text-align: center;
  opacity: 0;
} */
