<StackLayout row="0" class="sidedrawer-header">
    <!-- <Label horizontalAlignment="center"  text="Test"></Label> -->
    <!--<Label horizontalAlignment="center" class="sidedrawer-header-brand" text="Sayem Shahadat"></Label>-->
    <StackLayout horizontalAlignment="center" class="sidedrawer-header-info">
        <Label horizontalAlignment="center" class="sidedrawer-header-image fa text-center" text="&#xf007;"></Label>
        <Label horizontalAlignment="center" class="sidedrawer-header-brand" [text]="userInfo.DisplayName"></Label>
        <Label horizontalAlignment="center" class="footnote" [text]="userInfo.Email"></Label>
        
        <ng-container *ngTemplateOutlet="customSideNavTemplate;context:{data: 'test'}"></ng-container>
    </StackLayout>
</StackLayout>
