/* Add mobile styles for the component here.  */
.cloneImg {
    margin: 60 0;
    height: 150;
}

.dirTitle {
    font-size: 12;
    color: #E1E6EB;
    margin-bottom:12;
}

.dirValue {
    font-size: 16px;
    color: #FFFFFF;
}

.gotoEditBtn{
    padding: 25 0;
    background-color: #0b97c4;
    font-family: DBHead-Black;
    font-size: 16;
    color: #FFFFFF;
    text-transform: uppercase;
}

.padding41{
    padding: 30 0 15 0;
}

.margin41{
    margin-top: 20;
}

.padding42{
    padding: 30 0 15 0;
}

.margin42{
    text-align: center;
    margin-top: 16;
}

.padding43{
    padding: 12;
}


/* Add mobile styles for the component here.  */
.cloneImg_960 {
    margin: 45 0;
    height: 337.5;
}

.dirTitle_960 {
    font-size: 9;
    color: #E1E6EB;
    margin-bottom:9;
}

.dirValue_960 {
    font-size: 12px;
    color: #FFFFFF;
}

.gotoEditBtn_960{
    padding: 18.75 0;
    background-color: #0b97c4;
    font-family: DBHead-Black;
    font-size: 12;
    color: #FFFFFF;
    text-transform: uppercase;
}

.padding41_960{
    padding: 22.5 0 11.25 0;
}

.margin41_960{
    margin-top: 90;
}

.padding42_960{
    padding: 22.5 0 11.25 0;
}

.margin42_960{
    margin-top: 15;
}

.padding43_960{
    padding: 9;
}
