<StackLayout class="p-16" orientation="vertical" height="100%" width="100%" verticalAlignment="center"
    *ngIf="!platformImageService.selectedImage">
    <Label text="{{'tns.mediaGallery' | L}}" horizontalAlignment="center" verticalAlignment="center"
           style=" color:#646973;"  [ngClass]=" isTabWidthIsNineSixty? 'fontBold padding41_960' : 'fontBold padding41'" fontSize={{24*screenRationHeight}}></Label>
    <Label text="&#xf1c5;" [ngClass]=" isTabWidthIsNineSixty? 'fa fa-file-image-o margin41_960' : 'fa fa-file-image-o margin41'" fontSize={{120*screenRationHeight}} horizontalAlignment="center"
           style="color:#646973;" verticalAlignment="center"></Label>
    <Label text="{{'tns.noMedia' | L}}" horizontalAlignment="center" verticalAlignment="center"
           style=" color:#646973;"  [ngClass]=" isTabWidthIsNineSixty? 'fontBold padding42_960' : 'fontBold padding42'" fontSize={{16*screenRationHeight}}></Label>
<!--    <Label textWrap="true" horizontalAlignment="center" verticalAlignment="center" style=" color:#646973;"  [ngClass]=" isTabWidthIsNineSixty? 'margin42_960' : 'margin42'" -->
<!--           text="Please select the photos to be associated with this event"-->
<!--           fontSize={{12*screenRationHeight}}></Label>-->
</StackLayout>

<StackLayout orientation="vertical" width="100%" *ngIf="platformImageService.selectedImage">
    <StackLayout>
        <Label text="Selected" textWrap="true"></Label>
        <Image  [ngClass]=" isTabWidthIsNineSixty? 'cloneImg_960' : 'cloneImg'" stretch="aspectFill" loadMode="async" [src]="platformImageService.selectedImage?.path?.path" decodeWidth="400" decodeHeight="400"></Image>
    </StackLayout>
    <StackLayout backgroundColor="#3C414B">
        <GridLayout columns="2*, *" rows="*"  [ngClass]=" isTabWidthIsNineSixty? 'paddin43_960' : 'paddin43'">
            <StackLayout orientation="vertical" col="0" row="0">
                <Label  [ngClass]=" isTabWidthIsNineSixty? 'dirTitle_960' : 'dirTitle'"  text="Blickrichtung:"></Label>
                <Label  [ngClass]=" isTabWidthIsNineSixty? 'dirValue_960' : 'dirValue'"  text="{{ platformImageService.selectedImage.MetaData.DirectionInfo.Value == 'FORWARD'? 'In Km-Richtung' : 'Gegen Km-Richtung' }}"></Label>
            </StackLayout>
            <StackLayout col="1" row="0">
                <Button  [ngClass]=" isTabWidthIsNineSixty? 'gotoEditBtn_960' : 'gotoEditBtn'" (tap)="gotoEditPhoto(platformImageService.selectedImage)" text="EDIT PHOTO"></Button>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</StackLayout>
