<StackLayout height="100%" width="100%" verticalAlignment="bottom" horizontalAlignment="center" orientation="horizontal" backgroundColor="#3C414B">
    <Button text="&#xf030;" class="fa fa-camera" horizontalAlignment="left" backgroundColor="#3C414B"
            fontSize={{28*screenRationHeight}} (tap)="captureImage()" style="color:#FFFFFF; z-index: 0;"></Button>
    <Button text="&#xf093;" class="fa fa-camera m-l-8" horizontalAlignment="right" backgroundColor="#3C414B"
            fontSize={{28*screenRationHeight}} (tap)="uploadFromLibrary()" style="color:#FFFFFF; z-index: 0;"></Button>
</StackLayout>
