<WrapLayout>
    <ng-container *ngFor="let audio of audioData">
        <Image class="thumbnail-size m-r-16 m-b-16 " src="res://voice" stretch="aspectFill"
            (tap)="openAudioPlayer(audio)"></Image>
    </ng-container>
</WrapLayout>
