.notes {
    margin: 16;
    .note {
        font-size: 16;
        padding-bottom: 16;
    }
    .button-save {
        .save {
            border-radius: 24;
            height: 48;
            width: 300;
            background-color: #969300;
            text-align: center;
            font-size: 16;
            color: white;
        }
    }
    .button-cancel {
        .cancel {
            text-align: center;
            font-size: 16;
            color: #969300;
            background-color: white;
            border-color: white;
            border-width: 1;
        }
    }
}
