<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" title="Note" [description]="'For '+ currentShipmentNumber"
               [showMenuButton]="false" [backbuttonConfig]="backbuttonConfig" backbuttonIconUrl="res://icn_back" (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<GridLayout class="notes" rows="*,*" columns="*">
    <StackLayout row="0" col="0" class="note"  [formGroup]="shipmentNotes">
        <TextField #textcounter required hint="{{'tns.notesPlaceholder' | L}}" maxLength="250" formControlName="note" (textChange)="onTextChange($event)"></TextField>
        <Label class="m-r-4" [text]="textLength + '/250'" fontSize="12" horizontalAlignment="right"></Label>
    </StackLayout>

    <StackLayout row="1" col="0" verticalAlignment="bottom">
        <StackLayout class="button-save">
            <Button *ngIf="shipmentNotes.invalid" class="save" text="{{'tns.save.btn' | L}}" backgroundColor="#cccccc"></Button>
            <Button *ngIf="shipmentNotes.valid" class="save" text="{{'tns.save.btn' | L}}" (tap)="onSave()"></Button>
        </StackLayout>
        <StackLayout class="button-cancel">
            <Button class="cancel" text="{{'tns.cancel.btn' | L}}" (tap)="onCancel()"></Button>
        </StackLayout>
    </StackLayout>
</GridLayout>
