<StackLayout backgroundColor="#282D37" height="100%" id="imageInite" *ngIf="!isImageEditorMode">
    <StackLayout orientation="horizontal" height="10%" horizontalAlignment="right">
        <Label text="&#xf057;" fontSize="30" style="color:#FFFFFF;" class="fa p-16" (tap)="closeCamDrawer()"></Label>
    </StackLayout>
    
    <StackLayout backgroundColor="#282D37" height="80%" *ngIf="!isMultiImagePreview()">
        <tns-platform-image-previewer (backToEditorFromImagePicker)="initiateEditorMode($event)"></tns-platform-image-previewer>
    </StackLayout>
    <StackLayout backgroundColor="#282D37" height="80%" *ngIf="isMultiImagePreview()">
        <!-- <tns-platform-image-multi-previewer></tns-platform-image-multi-previewer> -->
    </StackLayout>
    <StackLayout backgroundColor="#3C414B" height="10%">
        <tns-platform-image-option-container (closeCameraDrawer)="closeCamDrawer()" (onImageCapture)="imageCaptured($event)"
            (onImageUpload)="imageUploaded($event)" (onImagePickerEventData)="imageData($event)"
            (selectedImage)="previewImageTap($event)" (selectedImagesList)="previewImageListSelection($event)"
            [galleryImageList]="galleryImageList" [imageOptionContainer]="ImageManagerConfig">
        </tns-platform-image-option-container>
    </StackLayout>
</StackLayout>

<StackLayout orientation="horizontal" height="100%" id="imageEditor" *ngIf="isImageEditorMode">
    <StackLayout backgroundColor="#282D37" width="100%">
        <StackLayout orientation="vertical" width="100%">
            <StackLayout orientation="horizontal" height="10%" horizontalAlignment="right">
                <Label text="&#xf057;" fontSize="30" style="color:#FFFFFF;" class="fa p-16" (tap)="closeCamDrawer()"></Label>
            </StackLayout>

            <Gridlayout rows="*" columns="*" height="75%" verticalAlignment="top" horizontalAlignment="center">
                <Image #camImage row="0" col="0" src="{{editableImgSource}}" height="90%"
                    decodeWidth="400" decodeHeight="400"></Image>
            </Gridlayout>

            <StackLayout width="100%" height="15%" orientation="vertical" verticalAlignment="center" horizontalAlignment="center" backgroundColor="#3C414B">
                <StackLayout orientation="horizontal" *ngIf="showImageType" horizontalAlignment="center"  color="white">
                    <ng-container *ngFor="let option of radioImageOptions; let optionIndex = index;">
                        <CheckBox #elemRadioValue class="color-scert-grey" text="{{option.text}}" boxType="circle" [checked]="option.selected"
                                  (checkedChange)="elemRadioValue.checked !== option.selected && onChangeRadioOptions(option, radioImageOptions)"
                                  fillColor="#FFFFFF" class="m-b-16 m-r-16" style="font-size: 24;" checkPadding="16"></CheckBox>
                    </ng-container>
                </StackLayout>
                <StackLayout orientation="horizontal" horizontalAlignment="center">
                    <Button text="&#xf040;" horizontalAlignment="left" backgroundColor="#3C414B" fontSize={{28*screenRationHeight}}
                            style="color:#FFFFFF; z-index: 0;" [ngClass]=" isTabWidthIsNineSixty? 'fa padding27_960' : 'fa padding27'"
                            (tap)="cropImage()"></Button>
                    <Button text="&#xe9ae;" horizontalAlignment="right" backgroundColor="#3C414B" fontSize={{28*screenRationHeight}}
                            style="color:#FFFFFF; z-index: 0;"  [ngClass]=" isTabWidthIsNineSixty? 'fa padding27_960' : 'fa padding27'" class="md-icon m-l-8"
                            (tap)="saveImage()"></Button>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</StackLayout>
