/* Add mobile styles for the component here.  */
.imageOptionContainer{
    height: auto;
    min-height: 850;
    color: #141923;;
    font-family: "DBSans-Regular";
    font-size: 12;
}
.imageOption-head{
    font-family: "DBSans-Bold";
    padding-bottom: 10;
    font-size: 24;
}

.takePhotoBtn{
    padding: 25 0;
    background-color: #F01414;
    color: #FFFFFF;
    margin: 16 0 0 0;
}
.takePhotoActBtn{
    padding: 25 0;
    background-color: #F01414;
    color: #FFFFFF;
    margin: 16 0 0 0;
    text-transform: capitalize;
    font-size: 20;
}

.takePhotoActBtn.btnEnable {
    background-color:  #F01414;
    color: #FFFFFF;
}
.takePhotoActBtn.btnDisable {
    background-color: #eaeef1;
    color: #FFFFFF;
}

.uploadFromDeviceBtnEnable {
    padding: 25 0;
    background-color:  #E1E6EB;
    color: #282D37;
    margin: 12 0 0 0;
    text-transform: capitalize;
    font-size: 20;
}

.uploadFromDeviceBtn {
    padding: 25 0;
    background-color:  #E1E6EB;
    color: #282D37;
    margin: 12 0 0 0;
    text-transform: capitalize;
    font-size: 20;
}

.uploadFromDeviceBtnDisable {
    padding: 25 0;
    background-color:  #E1E6EB;
    color: #282D37;
    margin: 12 0 0 0;
    text-transform: capitalize;
    font-size: 20;
}

.btnText{
    margin-left:8;
    text-transform: capitalize;
    font-size: 20;
}
.trashIconBtn{
    background-color: #ffffff;
    color: #F01414;
    padding: 24;
}

.padding27{
    padding: 15;
}

.padding28{
    padding: 1 0 1 0;
}

.padding29{
    padding: 20;
}






/* Add mobile styles for the component here.  */
.imageOptionContainer_960{
    height: auto;
    min-height: 637.5;
    color: #141923;;
    font-family: "DBSans-Regular";
    font-size: 9;
}
.imageOption-head_960{
    font-family: "DBSans-Bold";
    padding-bottom: 7.5;
    font-size: 18;
}

.takePhotoBtn_960{
    padding: 18.75 0;
    background-color: #F01414;
    color: #FFFFFF;
    margin: 12 0 0 0;
}
.takePhotoActBtn_960{
    padding: 18.75 0;
    background-color: #F01414;
    color: #FFFFFF;
    margin: 12 0 0 0;
    text-transform: capitalize;
    font-size: 15;
}

.takePhotoActBtn.btnEnable {
    background-color:  #F01414;
    color: #FFFFFF;
}
.takePhotoActBtn.btnDisable {
    background-color: #eaeef1;
    color: #FFFFFF;
}

.uploadFromDeviceBtnEnable_960 {
    padding: 18.75 0;
    background-color:  #E1E6EB;
    color: #282D37;
    margin: 9 0 0 0;
    text-transform: capitalize;
    font-size: 15;
}

.uploadFromDeviceBtn_960 {
    padding: 18.75 0;
    background-color:  #E1E6EB;
    color: #282D37;
    margin: 9 0 0 0;
    text-transform: capitalize;
    font-size: 15;
}

.uploadFromDeviceBtnDisable_960 {
    padding: 18.75 0;
    background-color:  #E1E6EB;
    color: rgb(207, 210, 214);
    margin: 9 0 0 0;
    text-transform: capitalize;
    font-size: 15;
}

.btnText_960{
    margin-left:6;
    text-transform: capitalize;
    font-size: 15;
}
.trashIconBtn_960{
    background-color: #ffffff;
    color: #F01414;
    padding: 18;
}

.padding27_960{
    padding: 11.25;
}

.padding28_960{
    padding: .75 0 .75 0;
}

.padding29_960{
    padding: 15;
}