<tns-platform-image-manager-container  (closeDrawer)="closeModal()"
                                       (onImageCapture)="imageCaptured($event)"
                                       (onImageUpload)="imageUploaded($event)"
                                       (onSaveBackToCamera)="saveAndBackToCamera($event)"
                                       (onSaveImage)="saveImage($event)"
                                       (getTemplateData)="listenTemplateEventData($event)"
                                       (onImagePickerEventData)="onImagePickerEventData($event)"
                                       [galleryImageList]="[]"
                                       [imagePickerTemplate]="imagePickerTemplate"
                                       [ImageManagerConfig]="imageManagerConfig"></tns-platform-image-manager-container>
<ng-template #imageDetailsDataCapture let-enableButton="enableSaveButton" let-toggle="toggleSaveButton" >
    <StackLayout orientation="vertical"  [ngClass]=" isTabWidthIsNineSixty? 'margin39_960' : 'margin39'">
        <Label text="Blickrichtungs" [ngClass]=" isTabWidthIsNineSixty? 'directionLabel_960' : 'directionLabel'"></Label>

        <Label *ngIf="isForwardActive"  [ngClass]=" isTabWidthIsNineSixty? 'direction-types-active_960 ' : 'direction-types-active '" text="In Begehungsrichtung" (tap)="getDirection('FORWARD',  enableButton, toggle  )"></Label>
        <Label *ngIf="!isForwardActive"  [ngClass]=" isTabWidthIsNineSixty? 'direction-types_960 ' : 'direction-types '" text="In Begehungsrichtung" (tap)="getDirection('FORWARD',  enableButton, toggle  )"></Label>

        <Label *ngIf="isBackwardActive" [ngClass]=" isTabWidthIsNineSixty? 'direction-types-active_960 ' : 'direction-types-active'" text="Gegen Begehungsrichtung" (tap)="getDirection('BACKWARD', enableButton, toggle  )"></Label>
        <Label *ngIf="!isBackwardActive"[ngClass]=" isTabWidthIsNineSixty? 'direction-types_960 ' : 'direction-types '" text="Gegen Begehungsrichtung" (tap)="getDirection('BACKWARD', enableButton, toggle  )"></Label>


        <!-- <Label class="direction-types" [ngClass]="{ 'direction-label-active': isForwardActive }" text="In Begehungsrichtung" (tap)="getDirection('FORWARD',  enableButton, toggle  )"></Label> -->
        <!-- <Label class="direction-types" [ngClass]="{ 'direction-label-active': isBackwardActive }" text="Gegen Begehungsrichtung" (tap)="getDirection('BACKWARD', enableButton, toggle  )"></Label> -->
    </StackLayout>
</ng-template>