<EcapActionBar [actionBarConfiguration]="actionBarConfiguration"
               title="" [showMenuButton]="true"  class="action-bar">
</EcapActionBar>

<GridLayout rows="*" columns="*,3*">
    <StackLayout class="p-16" row="0" col="0" borderRightWidth="1" borderColor="rgba(0, 0, 0, 0.2)">
        <Label class="m-t-8" text="Project" fontSize="12" color="#787D87"></Label>
        <Label class="m-t-4" text="CRS Inspection" fontSize="16" color="#141923"></Label>
        <Label class="m-t-24" text="Inspection Type:" fontSize="12" color="#787D87"></Label>
        <Label class="m-t-4" text="Measurement Control Record" fontSize="16" color="#141923"></Label>
        <WrapLayout orientation="horizontal">
            <StackLayout class="m-r-28">
                <Label class="m-t-24" text="Region:" fontSize="12" color="#787D87"></Label>
                <Label class="m-t-4" text="Bangladesh" fontSize="16" color="#141923"></Label>
            </StackLayout>
            <StackLayout class="m-l-16">
                <Label class="m-t-24" text="Network district:" fontSize="12" color="#787D87"></Label>
                <Label class="m-t-4" text="Dhaka" fontSize="16" color="#141923"></Label>
            </StackLayout>
        </WrapLayout>
        <Label class="m-t-24" text="Effective Date" fontSize="12" color="#787D87"></Label>
        <Label class="m-t-4" text="04.03.2020" fontSize="16" color="#141923"></Label>
        <WrapLayout orientation="horizontal">
            <StackLayout class="m-r-28">
                <<Label class="m-t-24" text="Format No: " fontSize="12" color="#787D87"></Label>
                <Label class="m-t-4" text="GRD0C/15 Annex" fontSize="16" color="#141923"></Label>
            </StackLayout>
            <StackLayout class="m-l-16">
                <Label class="m-t-24" text="Issue:" fontSize="12" color="#787D87"></Label>
                <Label class="m-t-4" text="06" fontSize="16" color="#141923"></Label>
            </StackLayout>
        </WrapLayout>
    </StackLayout>

    <StackLayout row="0" col="1" height="100%" class="m-16">
        <Label class="font-weight-bold m-t-16 m-b-24" text="Measurement Points" fontSize="24" color="#2F2F2F"></Label>
        <GridLayout>
            <ScrollView>
                <StackLayout>
                    <StackLayout width="100%" class="p-16 m-b-8" borderWidth="1" borderColor="rgba(0, 0, 0, 0.2)" (tap)="onTap()">
                        <Label class="font-weight-bold color-primary-500 m-b-16" text="107 Front Body Length - HPS to Hem" fontSize="16"></Label>
                        <StackLayout orientation="horizontal">
                            <Label class="font-weight-bold m-r-8" text="Tolerance:" fontSize="12" color="#787D87"></Label>
                            <Label class="m-r-16" text="1/4 (+/-)" fontSize="12" color="#787D87"></Label>
                            <Label class="font-weight-bold m-r-8" text="Elements:" fontSize="12" color="#787D87"></Label>
                            <Label class="m-r-16" text="S,M,L,XL,XXL" fontSize="12" color="#787D87"></Label>
                            <Label class="font-weight-bold m-r-8" text="Last Modified:" fontSize="12" color="#787D87"></Label>
                            <Label class="m-r-16" text="04, March,2020 01.00PM" fontSize="12" color="#787D87"></Label>
                        </StackLayout>
                    </StackLayout>
                    <StackLayout width="100%" class="p-16 m-b-8" borderWidth="1" borderColor="rgba(0, 0, 0, 0.2)" (tap)="onTap()">
                        <Label class="font-weight-bold color-primary-500 m-b-16" text="107 Front Body Length - HPS to Hem" fontSize="16"></Label>
                        <StackLayout orientation="horizontal">
                            <Label class="font-weight-bold m-r-8" text="Tolerance:" fontSize="12" color="#787D87"></Label>
                            <Label class="m-r-16" text="1/4 (+/-)" fontSize="12" color="#787D87"></Label>
                            <Label class="font-weight-bold m-r-8" text="Elements:" fontSize="12" color="#787D87"></Label>
                            <Label class="m-r-16" text="S,M,L,XL,XXL" fontSize="12" color="#787D87"></Label>
                            <Label class="font-weight-bold m-r-8" text="Last Modified:" fontSize="12" color="#787D87"></Label>
                            <Label class="m-r-16" text="_" fontSize="12" color="#787D87"></Label>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>
    </StackLayout>
</GridLayout>
