<StackLayout height="100%" width="100%">
    <GridLayout columns="*" rows="{{550*screenRationHeight}},*">
        <!--Recorder timer-->
        <StackLayout row="0" col="0" backgroundColor="#000000" style="text-align:center;">
            <Label text="{{'tns.audioRecorder' | L}}" class="p-24" fontSize={{36*screenRationHeight}} style="color:#83878e"></Label>
            <StackLayout orientation="vertical" class="h-full" verticalAlignment="center" horizontalAlignment="center">
                <StackLayout orientation="horizontal" style="color:white;">
                    <Label text="{{ minuteString }}" fontSize={{80*screenRationHeight}}></Label>
                    <Label text=":" fontSize={{80*screenRationHeight}}></Label>
                    <Label text="{{ secondString }}" fontSize={{80*screenRationHeight}}></Label>
                    <!-- <Label text=":" fontSize={{80*screenRationHeight}}></Label>
                    <Label text="{{millisecondString}}" fontSize={{80*screenRationHeight}}></Label> -->
                </StackLayout>
                <StackLayout StackLayout *ngIf="!player" style="text-align:center;">
                    <Label text="&#xf04b;" fontSize={{40*screenRationHeight}} style="color:#000000" class="fa"></Label>
                </StackLayout>
                <StackLayout StackLayout *ngIf="player" style="text-align:center;">
                    <Label *ngIf="flag" (tap)="playRecordedFile()" text="&#xf04b;" fontSize={{40*screenRationHeight}} style="color:#E1E6EB;" class="fa"></Label>
                    <Label (tap)="stopPlaying()" *ngIf="isPlaying" text="&#xf04d;" fontSize={{40*screenRationHeight}} style="color:#E1E6EB" class="fa"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <!--Action Panel-->
        <GridLayout row="1" col="0" rows="*" columns="*,*,*" verticalAlignment="center">

            <!-- Delete icon -->
            <Label *ngIf="!saveFlag" row="0" col="0" fontSize={{24*screenRationHeight}} style="text-align: left;color: #918f8f" text="&#xf014;" class="fa p-24">
            </Label>
            <Label *ngIf="saveFlag" row="0" col="0" fontSize={{24*screenRationHeight}} style="color: rgb(23, 151, 77)" text="&#xf014;" (tap)="removeFile()" class="fa p-24">
            </Label>
            <!-- Delete icon -->


            <!-- Start round icon-->
            <Label *ngIf="!isRecording && !player" row="0" col="1" fontSize={{72*screenRationHeight}} text="&#xf111;" style="text-align: center;color: red" col="1" (tap)="startRecord()" class="fa">

            </Label>
            <Label *ngIf="!isRecording && player" row="0" col="1" fontSize={{78*screenRationHeight}} text="&#xf111;" style="text-align: center;color: #918f8f" col="1" class="fa">

            </Label>
            <!-- Start round icon-->

            <!--Stop-->
            <Label *ngIf="isRecording" row="0" col="1" fontSize={{72*screenRationHeight}} text="&#xf04d;" style="text-align: center;color: red" (tap)="stopRecord()" class="fa">
            </Label>
            <!--Stop-->

            <!--Save-->
            <Label *ngIf="!saveFlag" row="0" col="2" fontSize={{24*screenRationHeight}} style="text-align: right;color: #918f8f" text="&#xf0c7;" class="fa p-24">
            </Label>
            <Label *ngIf="saveFlag" row="0" col="2" fontSize={{24*screenRationHeight}} style="text-align: right;color: rgb(23, 151, 77)" text="&#xf0c7;" class="fa p-24" (tap)="saveFile()">
            </Label>
            <!--Save-->
        </GridLayout>
    </GridLayout>
</StackLayout>