<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="'Employees'" [showMenuButton]="true" (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<Button text="employee-default works!" class="btn btn-primary"></Button>