<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="'Tasklist'" [showMenuButton]="true"
    (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<StackLayout class="page m-t-12 tasklist" orientation="vertical">
    <StackLayout orientation="horizontal" class="p-24 w-full">
        <StackLayout width="45%">
            <Label class="font-size-36 color-black-87 m-b-16" text="Welcome!"></Label>
            <Label class="font-size-16 m-b-16" text="Showing your tasks for today." textWrap="true"></Label>
            <Label class="font-size-16" text="{{currentDate | date: 'longDate'}}"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal" width="100%" class="btn-toggle-group" verticalAlignment="top">
            <Button class="font-size-12" style="height:auto" text="PENDING ({{tasks.length}})" width="50%" [ngClass]="{'btn-primary': filterType === filterTypes.Pending}"
                borderColor="#2A4C69" borderWidth="2" (tap)="toggleFilter(filterTypes.Pending)"></Button>
            <Button class="font-size-12" text="COMPLETED" [ngClass]="{'btn-primary': filterType === filterTypes.Completed}" width="50%"
                borderColor="#2A4C69" borderWidth="2" (tap)="toggleFilter(filterTypes.Completed)"></Button>
        </StackLayout>
    </StackLayout>
    <ScrollView height="100%">
        <StackLayout *ngIf="tasks.length" orientation="vertical" horizontalAlignment="center" width="100%" class="m-b-16 p-24" height="100%">
            <!-- Project Specific chapters -->
            <ListView [items]="tasks" (itemTap)="onItemTap($event)" separatorColor="white" height="100%" style="margin-bottom: 20;">
                <ng-template let-item="item" let-itemIndex="index" class="m-b-16">
                    <StackLayout orientation="vertical">
                        <StackLayout orientation="horizontal" class="card-border" marginBottom="16">
                            <StackLayout class="p-20 border-left" orientation="horizontal" width="94%">
                                <StackLayout orientation="vertical">
                                    <StackLayout orientation="horizontal">
                                        <StackLayout verticalAlignment="center">
                                            <Label class="m-b-24 font-size-20 color-primary-500" [text]="item.Task.Title" 
                                            textWrap="true"></Label>
                                            <Label class="font-size-12 font-weight-600 text-spacing-2 color-black text-uppercase" [text]="item.TopicValue" 
                                            textWrap="true"></Label>
                                        </StackLayout>
                                    </StackLayout>
                                    <StackLayout class="m-t-16" orientation="horizontal" verticalAlignment="center">
                                        <Label class="font-size-14 font-weight-600 text-spacing-2" [text]="item.CategoryName" 
                                        textWrap="true" verticalAlignment="center"></Label>
                                        <Label class="font-size-24 font-weight-600 text-spacing-2 md-icon" text="&#xead9;" 
                                        textWrap="true" verticalAlignment="center"></Label>
                                        <Label class="font-size-14 font-weight-600 text-spacing-2" [text]="item.SubCategoryName" 
                                            textWrap="true" verticalAlignment="center"></Label>

                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>

                            <StackLayout orientation="horizontal" horizontalAlignment="center">
                                <StackLayout orientation="horizontal" horizontalAlignment="center"
                                    verticalAlignment="center">
                                    <Label class="md-icon color-primary-500" fontSize="24" text="&#xead9;"></Label>
                                </StackLayout>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout >
                </ng-template>
            </ListView>            
        </StackLayout>
        <StackLayout *ngIf="!tasks.length" orientation="vertical" verticalAlignment="center" horizontalAlignment="center" width="100%" class="m-b-16 p-24" height="100%">
            <Label text="No task found." class="font-size-36 color-black-60" horizontalAlignment="center" textWrap="true"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>