<GridLayout rows="auto,*" columns="*">
    <!--    <StackLayout orientation="horizontal" class="m-8">-->
    <!--        <Label fontSize="20" text="Select Zone" horizontalAlignment="left"></Label>-->
    <!--        <Label class="md-icon" fontSize="24" text="&#xe99b;" horizontalAlignment="right"></Label>-->
    <!--    </StackLayout>-->
    <StackLayout row="0" col="0" >
        <GridLayout class="m-16" rows="*" columns="7*,*">
            <StackLayout row="0" col="0"  horizontalAlignment="left">
                <Label fontSize="20" color="#545F6B" text="Select Site"></Label>
<!--                <Label class="m-b-28" fontSize="12" color="#878697" text="For S0469"></Label>-->
            </StackLayout>
            <Label row="0" col="1" class="md-icon" color="#000000" fontSize="24" text="&#xe99b;" horizontalAlignment="right" (tap)="onClose()"></Label>
        </GridLayout>
        <Label class="shadow" verticalAlignment="bottom"></Label>
    </StackLayout>
    <StackLayout row="1" col="0" verticalAlignment="top" class="m-l-16 m-r-16">
        <ScrollView height="100%">
            <ListView separatorColor="transparent" [items]="siteData" class="list-group" (itemTap)="onTap($event)">
                <ng-template let-item="item" let-i="index">
                    <GridLayout>
                        <Label fontSize="16" padding="16 0"  [text]="item.SiteName" backgroundColor="white" color="#262633"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </ScrollView>
    </StackLayout>
</GridLayout>
