<RadSideDrawer class="{{device_css}}" [drawerTransition]="sideDrawerTransition" drawerLocation="Left" [gesturesEnabled]="showNavigation">
    <!-- <EcapActionBar [actionBarConfiguration]= "actionBarConfiguration" class="action-bar"></EcapActionBar> -->
    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <EcapSideBar [navigations]="navigations" [customSideNavTemplate]="customSideNavTemplate" (onLogoutEvent)="logoutEvent($event)"></EcapSideBar>
    </GridLayout>
    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>

<ng-template #customSideNavTemplate let-data="data">
    <!-- <ng-container *ngFor="let item of siteData">
        <Label [text]="item.name" textWrap="true" (onTap)="selectSite(item, data)"></Label>
    </ng-container> -->
    <StackLayout class="dropDown p-x-16 p-t-8">
        <GridLayout rows="auto,auto" columns="7*,*">
            <StackLayout row="0" col="1" horizontalAlignment="right" verticalAlignment="bottom">
                <Label class="md-icon" (tap)="showModal()" style="color:#969300" fontSize="16" text="&#xeb56;"></Label>
            </StackLayout>
            <StackLayout class="value" row="0" colSpan="2">
                <Label required *ngIf="!site" (tap)="showModal()" text="{{'tns.selectSite.btn' | L}}"></Label>
                <Label required *ngIf="site" style="color:#969300" (tap)="showModal()" [text]="site"></Label>
            </StackLayout>
            <StackLayout row="1" colSpan="2">
                <Label class="line"></Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</ng-template>
