/* Add mobile styles for the component here.  */

.galleryImage{
    margin-right: 10;
}
.absGalleryImgPad{
    padding: 0 15 30 15;
    width: 190;
    height: 120;
}
.galleryImageSelected{
    background-color: rgba(0,0,0,0.6);
    padding: 25 60 25 60;
    font-size: 42;
    color: #FFFFFF;
}

.galleryNoImgCard{
    padding: 12;
    border-color: #EAEEF1;
    border-width: 2;
}
.galleryNoImgText {
    font-family: DBSans-Bold;
    font-size: 20px;
    color: #141923;
}