<StackLayout *ngIf="imageList.length>0">
    <WrapLayout orientation="horizontal" style="margin-bottom: 20px;" backgroundColor="#fff">
        <AbsoluteLayout class="absGalleryImgPad" *ngFor="let image of imageList; let i = index" >
            <Image width="100%" stretch="aspectFill" (tap)="onImageTap(image, i)" [src]="image.path.path" decodeWidth="400" decodeHeight="400"></Image>
            <Label *ngIf="platformImageService.getGallerytMultiSelectMode()" [text]="isImageSelected(image, i) ? '&#xf046;' : '&#xf096;' "
                class="fa galleryImageSelected" (tap)="onImageTap(image, i)"
                left="0" top="0" right="0" bottom="0" width="100%" height="100%">
            </Label>
        </AbsoluteLayout>
    </WrapLayout>
</StackLayout>

<StackLayout *ngIf="imageList.length<1" orientation="vertical" class="galleryNoImgCard" style="border-color: #FFFFFF;">
    <Label horizontalAlignment="center" class="galleryNoImgText" text="No Photo"></Label>
</StackLayout>