$font-path: 'raleway/';
$raleway: '#{$font-path}Raleway-Regular';

* {
  font-family: $raleway;
}

//.fa {
//  font-family: FontAwesome, fontawesome-webfont;
//}
//
//.md-icon {
//  font-family: icomoon, Material-Design-Iconic-Font;
//}
