$spacerList: (
        32: (
                x: 32,
                y: 32
        ),
        36: (
                x: 36,
                y: 36
        ),
        40: (
                x: 40,
                y: 40
        ),
        44: (
                x: 44,
                y: 44
        ),
        45: (
                x: 45,
                y: 45
        ),
        48: (
                x: 48,
                y: 48
        ),
        50: (
                x: 50,
                y: 50
        ),
        52: (
                x: 52,
                y: 52
        ),
        55: (
                x: 55,
                y: 55
        ),
        56: (
                x: 56,
                y: 56
        ),
        60: (
                x: 60,
                y: 60
        ),
) !default;

/**
 * Margin and Padding
 * The following creates this pattern:
 * .m-0{margin:0}.m-t-0{margin-top:0}.m-r-0{margin-right:0}.m-b-0{margin-bottom:0}.m-l-0{margin-left:0}.m-x-0{margin-right:0;margin-left:0}.m-y-0{margin-top:0;margin-bottom:0}
 * Same for Padding (using the 'p' abbreviation)
 * From 0, 2, 5, 10, 15, 20, 25, 30
**/
// sass-lint:disable-all
@each $prop, $abbrev in (margin: m, padding: p) {
  // sass-lint:enable-all
  @each $size, $lengths in $spacerList {
    $length-x:   map-get($lengths, x);
    $length-y:   map-get($lengths, y);

    // sass-lint:disable-all
    .#{$abbrev}-#{$size} { #{$prop}:          $length-y; } // a = All sides (can just use one length)
    // sass-lint:enable-all
    .#{$abbrev}-t-#{$size} { #{$prop}-top:    $length-y; }
    .#{$abbrev}-r-#{$size} { #{$prop}-right:  $length-x; }
    .#{$abbrev}-b-#{$size} { #{$prop}-bottom: $length-y; }
    .#{$abbrev}-l-#{$size} { #{$prop}-left:   $length-x; }

    // Axes
    .#{$abbrev}-x-#{$size} {
      #{$prop}-right:  $length-x;
      #{$prop}-left:   $length-x;
    }

    .#{$abbrev}-y-#{$size} {
      #{$prop}-top:    $length-y;
      #{$prop}-bottom: $length-y;
    }
  }
}
