@import '../../node_modules/nativescript-theme-core/scss/variables';
@import "typography";


// Colors
$background: #fff;
$primary: #969300;
$secondary: lighten(#000, 46%);
$disabled: lighten(#000, 62%);
$accent: #262633;


$primary-50: #f2f2e0;
$primary-100: #e0dfb3;
$primary-200: #cbc980;
$primary-300: #b6b34d;
$primary-400: #a6a326;
$primary-500: #969300;
$primary-600: #8e8b00;
$primary-700: #838000;
$primary-800: #797600;
$primary-900: #686400;
$primary-A100: #fffa97;
$primary-A200: #fff864;
$primary-A400: #fff631;
$primary-A700: #fff418;

// SideDrawer
$item-color-android : #fff;
$item-active-background: $primary;
$item-active-color: #fff;
$item-active-icon-color: #fff;
$item-color-ios: #949494;
$image-background: #e0e0e0;

$side-drawer-header-background: #fafafa;
$side-drawer-header-brand: #737373;
$side-drawer-background: $accent;

// ActionBar
$ab-background: $accent;
$ab-color: white;

// Accent

// Buttons
$btn-color-inverse: $white;
$btn-color: $primary;
$btn-color-secondary: darken($btn-color, 10%);
$btn-color-outline-highlighted: lighten($btn-color, 10%);

@import '../../node_modules/nativescript-theme-core/scss/index';
