.text-strike {
  text-decoration: line-through;
}

.text-super {
  vertical-align: super;
}

.text-sub {
  vertical-align: sub;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

// Text align helpers
.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-boxed {
  border-radius: 2px;
  padding: 4px 8px;
  margin: 0 8px;
  font-size: 11px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  background-color: rgba(0, 0, 0, 0.12);
  white-space: nowrap;
}

// Boxed text light
.text-boxed-light {
  @extend .text-boxed;
  background-color: rgba(255, 255, 255, 0.7);
}

//Truncate
.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Nowrap
.text-nowrap {
  white-space: nowrap;
}

.text-spacing-2 {
  letter-spacing: 0.2;
}

.text-spacing-015 {
  letter-spacing: 0.15;
}

.body-1{
  //font-family: 'Lato-Regular';
  font-weight: 400;
  font-size: 16.69px;
  letter-spacing: 0.5px;
  text-align: left;
  line-height: 28px;
}

.subtitle-1{
  //font-family: 'Lato-Regular';
  font-weight: 400;
  font-size: 16.69px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.subtitle-2{
  font-size: 12px;
  color: #0A0F0D;
  letter-spacing: 0.1px;
  line-height: 24px;
}

// Font weight helpers
@for $weight from 1 through 9 {

  .font-weight-#{$weight * 100} {
    font-weight: #{$weight * 100};
  }
}

// Font size helpers
@for $size from 1 through 60 {
  .font-size-#{$size * 2} {
    font-size: #{$size * 2}px;
  }
}

@for $size from 1 through 60 {
  .android360 {
    .font-size-#{$size * 2} {
      font-size: #{0.88 * $size * 2}px;
    }
  }
}

@for $size from 1 through 60 {
  .android360 {
    .p-#{$size * 2} {
      padding: #{0.88 * $size * 2}px;
    }

    .p-x-#{$size * 2} {
      padding: #{0.88 * $size * 2}px;
    }
  }
}

// Line height helpers
@for $lineHeight from 1 through 60 {

  .line-height-#{$lineHeight * 2} {
    line-height: #{$lineHeight * 2}px;
  }
}
