@import "./app-fonts";
@import "./theme";
@import "./margin-padding";
@import "./sidedrawer";
@import "./login";

.bg-grey {
    background: #FAFAFA;
}

.color-primary-500 {
    color: $primary-500;
}

.color-primary-600 {
    color: $primary-600;
}

.color-primary-700 {
    color: $primary-700;
}

.color-primary-800 {
    color: $primary-800;
}

.color-primary-900 {
    color: $primary-900;
}

.color-primary-A100 {
    color: $primary-A100;
}

.color-primary-A200 {
    color: $primary-A200;
}

.color-primary-A400 {
    color: $primary-A400;
}

.color-primary-A700 {
    color: $primary-A700;
}

.color-black-60 {
    color: rgba($color: #000000, $alpha: 0.6);
}

.color-black-87 {
    color: rgba($color: #000000, $alpha: 0.87);
}

ActionBar {
    background-color: white;
    color: black;
}

.border-bottom-grey {
    border-color: #E6E6E6;
    border-width: 0 0 1 0;
}

.border {
    border-width: 2px;
    border-color: orange;
}

.border-green {
    border-width: 4px;
    border-color: rgb(9, 255, 0);
}

/* Add mobile styles for the component here.  */

.btn-toggle-group {
    padding: 0;
    margin: 0;
    font-weight: 600;

    .btn-toggle {
        background-color: #fff;
        letter-spacing: 0.12;
        color: $primary-500;
    }

    .btn-active {
        background-color: $primary-500;
    }
}

.sidedrawer {
    .sidedrawer-header {
        height: 180;
        .sidedrawer-header-brand {
            color: $background-light;
        }

        .footnote {
            color: $background-light;
        }
    }
}

.action-bar {

    .action-bar-title {
        font-weight: 200;
        font-size: 16;
    }

    .action-item {
        android-elevation: 0;
        background-color: rgba(255, 0, 0, 0.0);
        border-color: rgba(255, 0, 0, 0.0);
        border-width: 1;
    }
}
