<StackLayout class="modal" width="{{modalWidth}}" orientation="vertical">
    <!-- <StackLayout>
        <Label text="{{configOptions | json}}"></Label>
    </StackLayout> -->
    <StackLayout class="modal-header" *ngIf="data && data.headerTitle" orientation="horizontal">
        <GridLayout class="m-24" rows="auto" columns="4*,*">
            <StackLayout row="0" col="0">
                <Label class="heading" fontSize="20" [text]="data.headerTitle"></Label>
                <Label *ngIf="data.description" class="description" fontSize="12" [text]="data.description" textWrap="true"></Label>
            </StackLayout>
            <Label class="md-icon close" row="0" col="1" fontSize="24" text="&#xe99b;" horizontalAlignment="right" (tap)="agree('OK')"></Label>
        </GridLayout>
    </StackLayout>
    <ng-container #vcr></ng-container>
    <StackLayout class="p-8" orientation="horizontal" horizontalAlignment="right">
        <Button *ngIf="configOptions.context.cancelButtonText" text="{{configOptions.context.cancelButtonText}}" backgroundColor="white" style="z-index: 0;"  (tap)="disagree('Cancel')"></Button>
        <Button *ngIf="configOptions.context.okButtonText" text="{{configOptions.context.okButtonText}}" class="btn-primary" (tap)="agree('Ok')"></Button>
    </StackLayout>
</StackLayout>
