/* Add mobile styles for the component here.  */

.gdprFooter {
    .gdprButton {
        font-size: 12px;
    }
}

.width-600 {
    width: 50%;
}


.modal {
    .modal-header {
        .heading {
            //color: #262633;
        }
        .description {
            padding-top: 8;
            color: rgba(70, 73, 76, .32);
        }
        .close {
            //color: #000000;
        }
    }
}



