<StackLayout>
    <EcapActionBar [actionBarConfiguration]="actionBarConfiguration" title="Forward" [description]="'For '+ currentShipmentNumber"
                   [showMenuButton]="false" [backbuttonConfig]="backbuttonConfig" backbuttonIconUrl="res://icn_back" class="action-bar"></EcapActionBar>

    <GridLayout rows="9*,*" columns="*" class="forward-to-driver">

        <ScrollView height="90%" verticalAlignment="top">
            <StackLayout row="0" col="0" [formGroup]="shipmentForward">
                <StackLayout class="driver">
                    <Label text="{{'tns.forwardDriverTo' | L}}"></Label>
                </StackLayout>
                <StackLayout class="dropDown">
                    <GridLayout rows="auto,auto" columns="7*,*">
                        <StackLayout row="0" col="1" horizontalAlignment="right" verticalAlignment="bottom">
                            <Label class="md-icon" (tap)="showModal()" fontSize="16" text="&#xeb56;"></Label>
                        </StackLayout>
                        <StackLayout class="value" row="0" colSpan="2">
                            <Label required *ngIf="!zone" (tap)="showModal()" text="{{'tns.selectZone.btn' | L}}"></Label>
                            <Label required *ngIf="zone" (tap)="showModal()" [text]="zone"></Label>
                        </StackLayout>
                        <StackLayout row="1" colSpan="2">
                            <Label class="line"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>

<!--                <StackLayout class="messageHeading">-->
<!--                    <Label class="heading" text="{{'tns.message' | L}}"></Label>-->
<!--                    <Label class="writing" text="{{'tns.messageHint' | L}}"></Label>-->
<!--                    <StackLayout class="message">-->
<!--                        <TextField required hint="{{'tns.messagePlaceholder' | L}}" maxLength="250" formControlName="message" (textChange)="onTextChange($event)"></TextField>-->
<!--                        <Label class="m-r-4" [text]="textLength + '/250'" fontSize="12" horizontalAlignment="right"></Label>-->
<!--                    </StackLayout>-->
<!--                </StackLayout>-->
            </StackLayout>
        </ScrollView>

        <StackLayout row="1" col="0" verticalAlignment="bottom">
            <StackLayout class="element">
                <Button class="forward" *ngIf="shipmentForward.invalid || !zone" backgroundColor="#cccccc" text="{{'tns.forward.btn' | L}}"></Button>
                <Button class="forward" *ngIf="shipmentForward.valid && zone" text="{{'tns.forward.btn' | L}}" (tap)="showConfirmation()"></Button>
            </StackLayout>
        </StackLayout>

    </GridLayout>
</StackLayout>

<ng-template #modalSyncConfirmation>
    <StackLayout class="modalHeader" verticalAlignment="center">
        <Label class="m-l-16 modalText" fontSize="20" text="Forward Confirmation"></Label>
    </StackLayout>
    <StackLayout class="m-16">
        <Label fontSize="16" textWrap="true" text="Are you sure want to forward?"></Label>
    </StackLayout>
</ng-template>

<!-- <StackLayout>
            <GridLayout rows="auto, auto, *" columns="auto, *">
                <DropDown #dd backroundColor="red" itemsTextAlignment="center" [items]="zones" [(ngModel)]="zoneName" (selectedIndexChanged)="showModal()" (opened)="showModal()" (closed)="onclose()" row="0" colSpan="2"></DropDown>
                <TextField [text]="zone" row="1" colSpan="2"></TextField>
            </GridLayout>
        </StackLayout> -->

<!-- <StackLayout class="zone-picker">
            <ListPicker class="picker" [items]="zones" selectedIndex="0" (tap)="onTap($event)"></ListPicker>
        </StackLayout> -->
