.forward-to-driver {
    margin: 16;
    .driver {
        font-size: 24;
        color: rgba(70, 73, 76, .87);
    }
    .dropDown {
        margin-top: 40;
        .md-icon {
            font-size: 24;
            color: rgba(70, 73, 76, .87);
            padding-bottom: 8;
        }
        .value {
            font-size: 16;
            color: rgba(0, 0, 0, .6);
            padding-bottom: 8;
        }
        .line {
            border-width: 1 0 0 0;
            border-color: #979797;
        }
    }
    .messageHeading {
        .heading {
            padding-top: 40;
            font-size: 16;
            color: rgba(70, 73, 76, .87);
        }
        .writing {
            padding-top: 8;
            font-size: 12;
            color: rgba(70, 73, 76, .32);
        }
        .message {
            padding-top: 24;
            font-size: 16;
            color: rgba(0, 0, 0, .6);
        }
    }
    .element {
        .forward {
            border-radius: 24;
            height: 48;
            width: 300;
            background-color: #969300;
            text-align: center;
            font-size: 16;
            color: white;
        }
    }
}

.modalHeader {
    height: 50;
    background-color: #969300;
    .modalText {
        color: white;
    }
}
