/* Add mobile styles for the component here.  */
.mulGalleryImage{
    margin-right: 10;
}
.mulAbsGalleryImgPad{
    padding: 0 15 30 15;
    width: 190;
    height: 120;
}
.mulGalleryImageSelected{
    background-color: rgba(0,0,0,0.6);
    padding: 25 60 25 60;
    font-size: 42;
    color: #FFFFFF;
}