<StackLayout orientation="vertical" width="100%">
    <Label text="Medien Gallerie" horizontalAlignment="center" verticalAlignment="center"
           style="padding: 30 0 15 0; color:#646973;" class="fontBold" fontSize="24"></Label>
    <!--<WrapLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" style="margin-top: 100; padding: 20; color:#646973;">-->
        <!--<AbsoluteLayout class="mulAbsGalleryImgPad" *ngFor="let image of platformImageService.selectedImageList; let i = index" >-->
            <!--<Image width="100%" stretch="aspectFill" loadMode="async" [src]="image.path.path"></Image>-->
            <!--<Label text="&#xf00d;"class="fa mulGalleryImageSelected" left="0" top="0" right="0" bottom="0" width="100%" height="100%"></Label>-->
        <!--</AbsoluteLayout>-->
    <!--</WrapLayout>-->
    <FlexboxLayout flexWrap="wrap" orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" minHeight="80" style="margin-top: 100; padding: 20; color:#646973;">
        <Image *ngFor="let image of platformImageService.selectedImageList"
              style="margin-left: 16; margin-bottom: 16" width="100" stretch="aspectFit"
              [src]="image.path.path" decodeWidth="400" decodeHeight="400"></Image>
        <Label *ngIf="platformImageService.selectedImageList.length<1" text="&#xf1c5;" class="fa fa-file-image-o" fontSize="100" horizontalAlignment="center"
               style="margin-left: 16; margin-bottom: 16; color:#646973;" verticalAlignment="center"></Label>
    </FlexboxLayout>
    <Label text="{{platformImageService.selectedImageList.length}} Photos Selected" horizontalAlignment="center" verticalAlignment="center"
           style="padding: 30 0 15 0; color:#646973;" class="fontBold" fontSize="24"></Label>
    <Label horizontalAlignment="center" verticalAlignment="center" style="margin-top: 20; color:#ffffff;"
           text="Add All Selction"
           fontSize="22"></Label>
    <Label horizontalAlignment="center" verticalAlignment="center" style="margin-top: 20; color:#ffffff;"
           text="Clear All Selection"
           fontSize="22"></Label>
</StackLayout>