<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" title="107 Front Body Length - HPS to Hem" [showMenuButton]="false"
               [backbuttonConfig]="backbuttonConfig" class="action-bar" backbuttonIconUrl="res://icn_back"></EcapActionBar>

<StackLayout>
    <StackLayout class="p-16" width="100%" backgroundColor="#F0F0F0" orientation="horizontal" borderBottomWidth="1" borderColor="#E1E6EB">
        <Label class="font-weight-bold m-r-8" text="Tolerance:" fontSize="16" color="#787D87"></Label>
        <Label class="m-r-24" text="1/4 (+/-)" fontSize="16" color="#787D87"></Label>
        <Label class="font-weight-bold m-r-8" text="Spec Size:" fontSize="16" color="#787D87"></Label>
        <Label text="27" fontSize="16" color="#787D87"></Label>
    </StackLayout>

    <StackLayout class="m-16">
        <Label class="m-t-8 m-b-20" text="Please select the element for this measurement point." fontSize="24" color="#2F2F2F"></Label>
    </StackLayout>
    <GridLayout>
        <ScrollView>
            <WrapLayout class="p-8" horizontalAlignment="center">
                <GridLayout class="m-8" height="192" width="31%" borderWidth="1" borderColor="#D9D9D9" (tap)="onTap()">
                    <Label class="font-weight-bold color-primary-500" text="S" fontSize="48" verticalAlignment="center" textAlignment="center"></Label>
                </GridLayout>
                <GridLayout class="m-8" height="192" width="31%" borderWidth="1" borderColor="#D9D9D9" (tap)="onTap()">
                    <Label class="font-weight-bold color-primary-500" text="M" fontSize="48" verticalAlignment="center" textAlignment="center"></Label>
                </GridLayout>
                <GridLayout class="m-8" height="192" width="31%" borderWidth="1" borderColor="#D9D9D9" (tap)="onTap()">
                    <Label class="font-weight-bold color-primary-500" text="L" fontSize="48" verticalAlignment="center" textAlignment="center"></Label>
                </GridLayout>
                <GridLayout class="m-8" height="192" width="31%" borderWidth="1" borderColor="#D9D9D9" (tap)="onTap()">
                    <Label class="font-weight-bold color-primary-500" text="XL" fontSize="48" verticalAlignment="center" textAlignment="center"></Label>
                </GridLayout>
                <GridLayout class="m-8" height="192" width="31%" borderWidth="1" borderColor="#D9D9D9" (tap)="onTap()">
                    <Label class="font-weight-bold color-primary-500" text="XXL" fontSize="48" verticalAlignment="center" textAlignment="center"></Label>
                </GridLayout>
            </WrapLayout>
        </ScrollView>
    </GridLayout>
</StackLayout>
