/* Add mobile styles for the component here.  */

//.zone-picker {
//    width: 90%;
//    margin: 16;
//    .picker {
//        text-align: center;
//    }
//}
.shadow {
    height: 4;
    background: linear-gradient(to bottom, rgba(70,73,76, .12), rgba(0, 0, 0, 0));
}

