<GridLayout rows="auto,*" columns="*">
    <StackLayout row="0" col="0">
        <GridLayout rows="*" columns="7*,*" class="m-16">
            <StackLayout row="0" col="0"  horizontalAlignment="left">
                <Label class="m-b-8" fontSize="20" color="#545F6B" text="Select Zone"></Label>
                <Label fontSize="12" color="#878697" [text]="'For ' + currentShipmentNumber"></Label>
            </StackLayout>
            <Label row="0" col="1" class="md-icon" color="#000000" fontSize="24" text="&#xe99b;" horizontalAlignment="right" (tap)="onClose()"></Label>
        </GridLayout>
        <Label class="shadow" verticalAlignment="bottom"></Label>
    </StackLayout>

    <StackLayout row="1" col="0" class="m-l-16 m-r-16" *ngFor="let zone of zones">
        <Label class="m-b-8" text="Entry Points" fontSize="24"></Label>
        <Stacklayout *ngFor="let zone of zones">
            <Label *ngIf="zone.LocationType === 1" fontSize="16" padding="16 0"  [text]="zone.Name" backgroundColor="white" color="#262633" (tap)="onTap(zone)"></Label>
        </Stacklayout>
        <Label class="m-b-8" text="Unloading zones" fontSize="24"></Label>
        <Stacklayout *ngFor="let zone of zones">
            <Label *ngIf="zone.LocationType === 2" fontSize="16" padding="16 0"  [text]="zone.Name" backgroundColor="white" color="#262633" (tap)="onTap(zone)"></Label>
        </Stacklayout>
        <Label class="m-b-8" text="Waiting areas" fontSize="24"></Label>
        <Stacklayout *ngFor="let zone of zones">
            <Label *ngIf="zone.LocationType === 3" fontSize="16" padding="16 0"  [text]="zone.Name" backgroundColor="white" color="#262633" (tap)="onTap(zone)"></Label>
        </Stacklayout>
    </StackLayout>
</GridLayout>



<!--<GridLayout rows="auto,*" columns="*">-->
<!--    <StackLayout row="0" col="0">-->
<!--        <GridLayout rows="*" columns="7*,*" class="m-16">-->
<!--            <StackLayout row="0" col="0"  horizontalAlignment="left">-->
<!--                <Label class="m-b-8" fontSize="20" color="#545F6B" text="Select Zone"></Label>-->
<!--                <Label fontSize="12" color="#878697" [text]="'For ' + currentShipmentNumber"></Label>-->
<!--            </StackLayout>-->
<!--            <Label row="0" col="1" class="md-icon" color="#000000" fontSize="24" text="&#xe99b;" horizontalAlignment="right" (tap)="onClose()"></Label>-->
<!--        </GridLayout>-->
<!--        <Label class="shadow" verticalAlignment="bottom"></Label>-->
<!--    </StackLayout>-->

<!--    <StackLayout row="1" col="0" class="m-l-16 m-r-16">-->
<!--            <Label text="Entry Points" fontSize="24"></Label>-->
<!--            <ListView separatorColor="transparent" [items]="zones" class="list-group" (itemTap)="onTap($event)">-->
<!--                <ng-template  let-item="item" let-i="index">-->
<!--                    <GridLayout>-->
<!--                        <Label *ngIf="item.LocationType == 1" row="0" col="0" fontSize="16" padding="16 0"  [text]="item.Name" backgroundColor="white" color="#262633"></Label>-->
<!--                    </GridLayout>-->
<!--                </ng-template >-->
<!--            </ListView>-->
<!--            <Label text="Unloading zones" fontSize="24"></Label>-->
<!--            <ListView separatorColor="transparent" [items]="zones" class="list-group" (itemTap)="onTap($event)">-->
<!--                <ng-template  let-item="item" let-i="index">-->
<!--                    <GridLayout>-->
<!--                        <Label *ngIf="item.LocationType == 2" row="0" col="0" fontSize="16" padding="16 0"  [text]="item.Name" backgroundColor="white" color="#262633"></Label>-->
<!--                    </GridLayout>-->
<!--                </ng-template >-->
<!--            </ListView>-->
<!--            <Label text="Waiting areas" fontSize="24"></Label>-->
<!--            <ListView separatorColor="transparent" [items]="zones" class="list-group" (itemTap)="onTap($event)">-->
<!--                <ng-template  let-item="item" let-i="index">-->
<!--                    <GridLayout>-->
<!--                        <Label *ngIf="item.LocationType == 3" row="0" col="0" fontSize="16" padding="16 0"  [text]="item.Name" backgroundColor="white" color="#262633"></Label>-->
<!--                    </GridLayout>-->
<!--                </ng-template >-->
<!--            </ListView>-->
<!--    </StackLayout>-->
<!--</GridLayout>-->


<!--<GridLayout rows="auto,*" columns="*">-->
<!--    <StackLayout row="0" col="0">-->
<!--        <GridLayout rows="*" columns="7*,*" class="m-16">-->
<!--            <StackLayout row="0" col="0"  horizontalAlignment="left">-->
<!--                <Label class="m-b-8" fontSize="20" color="#545F6B" text="Select Zone"></Label>-->
<!--                <Label fontSize="12" color="#878697" [text]="'For ' + currentShipmentNumber"></Label>-->
<!--            </StackLayout>-->
<!--            <Label row="0" col="1" class="md-icon" color="#000000" fontSize="24" text="&#xe99b;" horizontalAlignment="right" (tap)="onClose()"></Label>-->
<!--        </GridLayout>-->
<!--        <Label class="shadow" verticalAlignment="bottom"></Label>-->
<!--    </StackLayout>-->

<!--   <StackLayout row="1" col="0" verticalAlignment="top" class="m-l-16 m-r-16">-->
<!--       <ScrollView height="100%">-->
<!--           <ListView separatorColor="transparent" [items]="zones" class="list-group" (itemTap)="onTap($event)">-->
<!--               <ng-template  let-item="item" let-i="index">-->
<!--                   <GridLayout rows="auto,auto,auto" columns="*">-->
<!--                       <Label *ngIf="item.LocationType == 2" row="0" col="0" fontSize="16" padding="16 0"  [text]="item.Name" backgroundColor="white" color="#262633"></Label>-->
<!--                   </GridLayout>-->
<!--               </ng-template >-->
<!--           </ListView>-->
<!--       </ScrollView>-->
<!--   </StackLayout>-->
<!--</GridLayout>-->
