<EcapActionBar [actionBarConfiguration]="actionBarConfiguration"
    title="Today&rsquo;s shipments" [showMenuButton]="true"  class="action-bar">
</EcapActionBar>

<StackLayout>
    <ScrollView height="100%" verticalAlignment="top">
        <StackLayout *ngIf="shipments.length" orientation="vertical" horizontalAlignment="center" width="100%" class="m-b-8 p-8" height="100%">

<!--            <RadListView [items]="shipments" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" loadOnDemandMode="Auto"-->
<!--                         (loadMoreDataRequested)="onLoadMoreItemsRequested($event)" (itemTap)="onItemTap($event)" separatorColor="white" height="100%">-->
            <RadListView [items]="shipments" (itemTap)="onItemTap($event)" separatorColor="white" height="100%">
                <ng-template let-item="item">
                    <StackLayout orientation="vertical">

                        <GridLayout class="card" rows="*" columns="*,4*">
                            <StackLayout  row="0" col="0" [class]="'left-section' + item.Status"  height="210">

                                <StackLayout  height="100%" verticalAlignment="center">
                                    <StackLayout verticalAlignment="center">
                                        <Label class="md-icon icon" fontSize="24" text="&#xe9c9;" horizontalAlignment="center"></Label>
                                        <Label class="duration" text="{{item | timeDifference}} mins" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>

                            <GridLayout class="middle-section" rows="*,*,*" columns="2*,*" row="0" col="1">
                                <GridLayout class="section-1-1" row="0" col="0" rows="44,22" columns="*">
                                    <StackLayout row="0" col="0">
                                        <Label class="font-size-16" [text]="item.ShipmentNumber" textwrap="true"></Label>
                                    </StackLayout>
                                    <StackLayout orientation="horizontal" row="1" col="0">
                                        <StackLayout *ngFor="let time of item.Slot; let last = last;" orientation="horizontal">
                                            <Label class="font-size-12" [text]="time"></Label>
                                            <Label class="font-size-12 p-r-4" text="," *ngIf="!last"></Label>
                                        </StackLayout>
                                    </StackLayout>
                                </GridLayout>

                                <StackLayout class="icon" row="0" col="1" verticalAlignment="top">
                                    <Label class="md-icon color-primary-500" fontSize="24" text="&#xe9b0;" horizontalAlignment="right"></Label>
                                </StackLayout>

                                <StackLayout verticalAlignment="bottom" row="1" col="0">
                                    <StackLayout class="section-2-1">
                                        <Label class="detail-name" [text]="item.UnloadingZoneName"></Label>
                                        <Label class="detail-info" [text]="item.SiteName"></Label>
                                        <Label class="detail-info" [text]="item.OrganizationName"></Label>
                                    </StackLayout>
                                </StackLayout>

                                <StackLayout class="section-2-2" verticalAlignment="bottom" row="1" col="1">
                                    <Image class="image" [src]="'res://vehicle' + item.VehicleType" verticalAlignment="bottom"></Image>
                                </StackLayout>

                                <StackLayout *ngIf="item.ShipmentEquipments" class="section-3-1" row="2" col="0" orientation="horizontal">
                                    <StackLayout class="icon" *ngFor="let icon of item.ShipmentEquipments, let i=index" horizontalAlignment="right">
                                        <Image *ngIf="i < 2" class="image" [src]="'res://equipment' + icon.EquipmentType" verticalAlignment="center"></Image>

                                    </StackLayout>
                                    <StackLayout *ngIf="item.ShipmentEquipments.length > 2" orientation="horizontal">
                                        <Label class="trancate" text="+" verticalAlignment="center"></Label>
                                        <Label class="trancate" [text]="item.ShipmentEquipments.length-2 + ' more'" verticalAlignment="center"></Label>
                                    </StackLayout>
                                </StackLayout>

                                <StackLayout row="2" col="1" verticalAlignment="bottom">
                                    <StackLayout *ngIf="item.Status == 0" class="section-3-2-approved" verticalAlignment="center">
                                        <Label class="wait" text="Approved" color="#06A77D" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                    <StackLayout *ngIf="item.Status == 1" class="section-3-2-incoming" verticalAlignment="center">
                                        <Label class="incoming" text="{{'tns.incoming' | L}}" color="#064789" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                    <StackLayout *ngIf="item.Status == 2" class="section-3-2-wait" verticalAlignment="center">
                                        <Label class="wait" text="{{'tns.wait' | L}}" color="#F29F03" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                    <StackLayout *ngIf="item.Status == 3" class="section-3-2-ongoing" verticalAlignment="center">
                                        <Label class="incoming" text="On Going" color="#ed4242" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                    <StackLayout *ngIf="item.Status == 4" class="section-3-2-unloading" verticalAlignment="center">
                                        <Label class="unloading" text="{{'tns.unloading' | L}}" color="#EF6D00" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                    <StackLayout *ngIf="item.Status == 8" class="section-3-2-open" verticalAlignment="center">
                                        <Label class="open" text="{{'tns.open' | L}}" color="#AFAEBE" horizontalAlignment="center"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </GridLayout>

                        </GridLayout>

                    </StackLayout>
                </ng-template>
            </RadListView>

        </StackLayout>
        <StackLayout *ngIf="!shipments.length" orientation="vertical" verticalAlignment="center" horizontalAlignment="center" width="100%" class="m-b-16 p-24" height="100%">
            <Image class="image" src="res://no_shipment_found" horizontalAlignment="center" width="168"></Image>
            <Label text="{{'tns.noTask' | L}}" fontSize="20" color="#AFAFBE" horizontalAlignment="center" textWrap="true"></Label>
            <Label text="There is no shipment scheduled for today." fontSize="12" color="#AFAFBE" horizontalAlignment="center"></Label>
        </StackLayout>
    </ScrollView>
</StackLayout>

