.scroll-zone {
    padding: 12;
    .zone-border-default {
        border-width: 2;
        min-width: 120;
        height: 64;
        border-radius: 8;
        border-color: #dfdfdf;
        background-color: white;
        .zone-name {
            padding-left: 8;
            padding-right: 8;
            text-align: center;
            color: rgba(70, 79, 82, .87);
        }
    }
    .zone-border-onTap {
        border-width: 2;
        min-width: 120;
        height: 64;
        border-radius: 8;
        border-color: #06A77D;
        background-color: rgba(6, 167, 125, .1);
        .zone-name {
            padding-left: 8;
            padding-right: 8;
            text-align: center;
            color: #06A77D;
        }
    }
}

.zone-details {
    .zone-Name {
        margin:0 16 4 16;
        color: rgba(70, 73, 76, 0.87);
    }
    .zone-address {
        color: rgba(70, 73, 76, 0.32);
        margin:0 16 8 16;
    }
  .shadow {
    height: 4;
    background: linear-gradient(to bottom, rgba(70,73,76, .12), rgba(0, 0, 0, 0));
  }
}

.card {
    margin: 16, 8, 0, 8;
    border-width: 1;
    border-radius: 8;
    border-color: #dfdfdf;
    .left-section0 {
        text-align: center;
        background-color: #06A77D;
        color: white;
        padding-top: 8;
        border-radius: 8, 0, 0, 8;
        .icon {
            font-size: 20;
            padding-bottom: 8;
        }
        .duration {
            font-size: 12;
        }
    }
    .left-section1 {
        text-align: center;
        background-color: #064789;
        color: white;
        padding-top: 8;
        border-radius: 8, 0, 0, 8;
        .icon {
            font-size: 20;
            padding-bottom: 8;
        }
        .duration {
            font-size: 12;
        }
    }
    .left-section2 {
        text-align: center;
        background-color: #F3A727;
        color: white;
        padding-top: 8;
        border-radius: 8, 0, 0, 8;
        .icon {
            font-size: 20;
            padding-bottom: 8;
        }
        .duration {
            font-size: 12;
        }
    }
    .left-section3 {
        text-align: center;
        background-color: #ed4242;
        color: white;
        padding-top: 8;
        border-radius: 8, 0, 0, 8;
        .icon {
            font-size: 20;
            padding-bottom: 8;
        }
        .duration {
            font-size: 12;
        }
    }
    .left-section4 {
        text-align: center;
        background-color: #EF6D00;
        color: white;
        padding-top: 8;
        border-radius: 8, 0, 0, 8;
        .icon {
            font-size: 20;
            padding-bottom: 8;
        }
        .duration {
            font-size: 12;
        }
    }
    .left-section8 {
        text-align: center;
        background-color: #AFAEBE;
        color: white;
        padding-top: 8;
        border-radius: 8, 0, 0, 8;
        .icon {
            font-size: 20;
            padding-bottom: 8;
        }
        .duration {
            font-size: 12;
        }
    }
    .middle-section {
        padding: 8;
        .section-1-1 {
            .font-size-16 {
                font-weight: bold;
                color: rgba(70, 79, 82, .87);
                padding-bottom: 8;
            }
            .font-size-12 {
                color: rgba(70, 79, 82, .87);
            }
        }
        .icon {
            .md-icon {
                padding-bottom: 8;
                rotate: -30;
            }
        }
        .section-2-1 {
            padding-top: 16;
            padding-bottom: 16px;
            .detail-name {
                font-size: 14;
                padding-bottom: 8;
                color: rgba(70, 79, 82, .87);
            }
            .detail-info {
                font-size: 12;
                padding-bottom: 4;
                color: rgba(70, 79, 82, .50);
            }
        }
        .section-2-2 {
            padding-bottom: 6;
            .image {
                width: 100;
            }
        }
        .section-3-1 {
            padding-top: 12;
            .image {
                margin-right: 16;
                width: 20;
            }
            .trancate {
                font-size: 12;
            }
        }
        .section-3-2-wait {
            border-width: 1;
            height: 24;
            border-radius: 4;
            border-color: #F3A727;
            background-color: rgba(243,167,39,0.10);
            .wait {
                font-size: 12;
                color: #F3A727;
                text-align: center;
            }
        }
        .section-3-2-incoming {
            border-width: 1;
            height: 24;
            border-radius: 4;
            background-color: rgba(6,71,137,0.10);
            border-color: #064789 ;
            .incoming {
                font-size: 12;
                color: #064789 ;
                text-align: center;
            }
        }
        .section-3-2-ongoing {
            border-width: 1;
            height: 24;
            border-radius: 4;
            background-color: rgba(237, 66, 66,0.10);
            border-color: #ed4242 ;
            .incoming {
                font-size: 12;
                color: #ed4242 ;
                text-align: center;
            }
        }
        .section-3-2-unloading {
            border-width: 1;
            height: 24;
            border-radius: 4;
            background-color: rgba(239,109,0,0.10);
            border-color: #EF6D00;
            .unloading {
                font-size: 12;
                color: #EF6D00;
                text-align: center;
            }
        }
        .section-3-2-open {
            border-width: 1;
            height: 24;
            border-radius: 4;
            background-color: rgba(175,174,190,0.10);
            border-color: #AFAEBE;
            .open {
                font-size: 12;
                color: #AFAEBE;
                text-align: center;
            }
        }
        .section-3-2-approved {
            border-width: 1;
            height: 24;
            border-radius: 4;
            background-color: rgba(6,167,125,0.10);
            border-color: #06A77D;
            .open {
                font-size: 12;
                color: #06A77D;
                text-align: center;
            }
        }
    }
}
