<EcapActionBar  [actionBarConfiguration]="actionBarConfiguration" 
                [title]="'Audits'" 
                [showMenuButton]="true"
                (actionItemClick)="actionItemClicked($event)" 
                class="action-bar"></EcapActionBar>

<StackLayout class="page m-t-12" orientation="vertical">
    <!-- <StackLayout orientation="horizontal" class="p-24 w-full ">
        <Label class="font-size-20 color-scert-grey" width="45%" text="Discover Audits"></Label>
        <StackLayout orientation="horizontal" width="100%" class="btn-toggle-group">
            <Button text="PLANNED" width="50%" [ngClass]="{'btn-active': filterType === filterTypes.Planned}" class="btn-toggle"
                    borderColor="red" borderWidth="2"></Button>
            <Button text="CARRIED OUT" [ngClass]="{'btn-active': filterType === filterTypes.CarriedOut}" width="50%"
                    class="btn-toggle" borderColor="red" borderWidth="2"></Button>
        </StackLayout>
    </StackLayout> -->
</StackLayout>
