<GridLayout>
    <GridLayout #background scaleX="1.4" scaleY="1.4" class="background" [ngStyle]="{background: 'url(' + imgSrc + ')'}" (loaded)="startBackgroundAnimation(background)"></GridLayout>
    <ScrollView>
        <StackLayout height={{loginScreenHeight}} class="login-main-container p-b-4" width="500" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
            <StackLayout [formGroup]="loginForm"  width="80%" class="m-t-16" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
                <StackLayout width="250" class="m-b-16" orientation="vertical" horizontalAlignment="center">
                    <Image [src]="loginPageData.topLogo.src" stretch="aspectFit"></Image>
                </StackLayout>
                <StackLayout *ngIf="showLogin">

                    <Label *ngIf="loginPageData.welcomeText && !isForgotPasswordEnabled" horizontalAlignment="center" class="welcome-text-label m-t-30" [text]="loginPageData.welcomeText" row="1">
                    </Label>

                    <Label *ngIf="loginPageData.welcomeDescription && !isForgotPasswordEnabled" horizontalAlignment="center" class="welcome-description-label m-b-10" [text]="loginPageData.welcomeDescription" row="2">
                    </Label>

                    <Label *ngIf="loginPageData.loginHeaderText && !isForgotPasswordEnabled" horizontalAlignment="center" class="login-header-text-label m-b-10" [text]="loginPageData.loginHeaderText" row="3">
                    </Label>

                    <Label *ngIf="isForgotPasswordEnabled" horizontalAlignment="center" class="login-header-text-label m-b-10" text="Please enter your email address." row="3">
                    </Label>

                    <!--Login form-->
                    <StackLayout>
                        <TextField  class="m-b-8 m-t-32" (returnPress)="focusPassword()" formControlName="email" hint="Email" keyboardType="email" autocorrect="false"
                            autocapitalizationType="none" row="4" returnKeyType="next" ></TextField>

                        <AbsoluteLayout width="100%" *ngIf="!isForgotPasswordEnabled">
                            <TextField width="100%"  class="" hint="Password" returnKeyType="done" (returnPress)="submit()" formControlName="password" [secure]="isPasswordHidden"
                                        autocorrect="false" autocapitalizationType="none" row="6"></TextField>
                            <GridLayout *ngIf="loginForm.controls.password.value.length" width="100%" top="15">
                                <Label top="10" left="90%" horizontalAlignment="right" class="md-icon m-r-8" [color]="showPasswordIconColor"
                                       fontSize="20" text="&#xeae2;" horizontalAlignment="right" (tap)="showPassword()"></Label>
                            </GridLayout>
                        </AbsoluteLayout>

                        <StackLayout orientation="horizontal" *ngIf="isForgotPasswordEnabled" height="80">
                            <Image width="150" [src]="this.captchaImageSrc" stretch="aspectFit"></Image>
                            <Label *ngIf="this.captchaImageSrc" verticalAlignment="center" text="&#xe927;"
                                class="md-icon font-size-24 m-l-24" textWrap="true" (tap)="captchHandler()"></Label>
                        </StackLayout>

                        <Button *ngIf="!loginForm.invalid && !isForgotPasswordEnabled" [ngStyle]="{'border-radius': loginPageData.loginButtonRadius}"
                             text="{{ 'tns-login.login' | L }}" class="btn-primary m-t-24" (tap)="submit()"></Button>

                        <Button *ngIf="loginForm.invalid && !isForgotPasswordEnabled" backgroundColor="#cccccc" [ngStyle]="{'border-radius': loginPageData.loginButtonRadius}"
                                text="{{ 'tns-login.login' | L }}" class="btn-primary m-t-24"></Button>
                    </StackLayout>
                    <!--Login form-->


                    <!--Captcha Screen-->
                    <TextField *ngIf="isForgotPasswordEnabled" class="m-b-24" hint="Captcha" formControlName="captchaValue"  autocorrect="false"
                        autocapitalizationType="none" row="4" returnKeyType="next" ></TextField>

                    <Button *ngIf="!loginForm.invalid && loginPageData.forgotPassword && isForgotPasswordEnabled" [ngStyle]="{'border-radius': loginPageData.loginButtonRadius}"
                        text="Reset password" class="btn-primary" (tap)="resetPassword()"></Button>
                    <Button *ngIf="loginForm.invalid && loginPageData.forgotPassword && isForgotPasswordEnabled" backgroundColor="#cccccc" [ngStyle]="{'border-radius': loginPageData.loginButtonRadius}"
                            text="Reset password" class="btn-primary"></Button>

                    <StackLayout orientation="horizontal" horizontalAlignment="center">
                        <Label *ngIf="loginPageData.forgotPassword && !isForgotPasswordEnabled" horizontalAlignment="left" class="m-t-24 forgot-password-label"
                            text="{{ 'tns-login.forgot-password' | L }}" (tap)="forgotPassword()" row="6">
                        </Label>

                        <Label *ngIf="loginPageData.forgotPassword && isForgotPasswordEnabled" horizontalAlignment="left" class="m-t-24 forgot-password-label"
                            text="Login" (tap)="enableLogin()" row="6">
                        </Label>
                    </StackLayout>
                </StackLayout>

                <Label horizontalAlignment="center" *ngIf="isResetSuccsessfull"
                    class="text-center login-header-text-label m-b-10" text="An email has been sent to your account. Please check it to reset your password." row="3" textWrap="true">
                </Label>
                <Button *ngIf="isResetSuccsessfull" [ngStyle]="{'border-radius': loginPageData.loginButtonRadius}"
                    [disabled]="l" text="{{ 'tns-login.login' | L }}" class="btn-primary" (tap)="enableLogin()"></Button>

                <StackLayout *ngIf="loginPageData.termsAndConditionsHidden == true " class="m-t-24">
                    <StackLayout *ngFor="let termsConditon of termsConditonsNew" orientation="horizontal"
                                style="padding: 4 0 8 0" horizontalAlignment="center">
                        <Label *ngFor="let termsConditonChild of termsConditon ; let j = index;"
                            (tap)="loadTermsAndConditon(termsConditonChild)" style="text-align: right;font-size:14 ;"
                            height="auto">
                            <FormattedString>
                                <Span text="{{ termsConditonChild.label | L }}"></Span>
                                <Span *ngIf="j < termsConditon.length - 1 && j < 2" text="  |  "></Span>
                            </FormattedString>
                        </Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
