// /* Hide a bunch of things to setup the initial animations */

.background {
    //background-image: url("res://selise_screen");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-main-container {
    opacity: 0.8;
    background-color: white;
    border-radius: 2px;
   // height: 100px;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}


.h-100-p {
    height: 100% !important;
}

.welcome-text-label {
    color: #000;
    font-size: 32px;
}
.tcTxt {
    text-align: right;
    font-size:14;
}
