.btn-active {
    background-color: red;
    color: #fff;
}

.card-border {
    border-color: #ebebeb; border-width: 1 1 1 1;
}

.border-left{
    border-color: #2A4C69; border-width: 0 0 0 5;
}

.h-300 {
    height: 400dp;
}