<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" [title]="'Task Details'" [showMenuButton]="false" [backbuttonConfig]="backbuttonConfig"
    (actionItemClick)="actionItemClicked($event)" class="action-bar"></EcapActionBar>

<FlexboxLayout flexDirection="column" justifyContent="space-between" height="100%">
    <ScrollView width="100%" orientation="vertical">
        <FlexboxLayout flexDirection="column">
            <StackLayout orientation="vertical" class="p-32 bg-grey border-bottom-grey">
                <Label class="font-size-24 color-black-87 font-weight-bold m-b-20" 
                    [text]="currentTask.Task.Title" textWrap="true"></Label>
                <Label class="font-size-14 color-black-60" 
                    [text]="currentTask.Task.Description ? currentTask.Task.Description : 'No description'" textWrap="true"></Label>
                
                <FlexboxLayout flexWrap="wrap" justifyContent="space-between">                
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Topic" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.TopicValue" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Category" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.CategoryName" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Sub-category" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.SubCategoryName" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout orientation="vertical" class="m-t-24">
                        <Label class="font-size-12 color-black-60 font-weight-bold m-b-8 text-uppercase text-spacing-2"
                            text="Submission Date" textWrap="true"></Label>
                        <Label class="font-size-12 color-black-87" [text]="currentTask.TaskSchedule.SubmissionDate | date: 'longDate'" textWrap="true"></Label>
                    </StackLayout>
                </FlexboxLayout>
            </StackLayout>

            <StackLayout [fromGroup]="answerForm">
                                                
                <StackLayout class="p-x-32 p-t-24">
                    <Label text="Please provide your answer and necessary information." class="font-size-14 m-b-20" textWrap="true"></Label>
                    <StackLayout orientation="horizontal">
                        <Label [text]="linearScaleQuestion.FromLabel" class="m-r-24 font-size-14" textWrap="true" verticalAlignment="center"></Label>
                        <FlexboxLayout flexWrap="wrap">
                            <ng-container *ngFor="let option of radioAnswerOptions; let optionIndex = index">
                                <StackLayout orientation="vertical" class="m-r-24">
                                    <Label text="{{option.text}}" textWrap="true" horizontalAlignment="center"></Label>
                                    
                                    <CheckBox #elemRadioValue class="color-scert-grey" text="" boxType="circle"
                                                [checked]="option.selected"
                                                (checkedChange)="elemRadioValue.checked !== option.selected && onChangeRadioOptions(option, radioAnswerOptions, answerForm.get('LinearAnswer'))"
                                                fillColor="#2A4C69" class="m-b-16"></CheckBox>
                                </StackLayout>
                            </ng-container>
                        </FlexboxLayout>
                        <Label [text]="linearScaleQuestion.ToLabel" class="font-size-14" textWrap="true" verticalAlignment="center"></Label>
                    </StackLayout>
                </StackLayout>

                <StackLayout class="p-32">
                    <Label class="font-size-16 m-b-16 color-black-87" text="Controlled Member"></Label>
                    <Label class="font-size-14 color-black-60 m-b-24" text="Please select the controlling group."></Label>
                    <RadAutoCompleteTextView #autocomplete [items]="dataItems"  suggestMode="Suggest" displayMode="Tokens" 
                        (didAutoComplete)="onDidAutoComplete($event)"
                        (tokenAdded)="onTokenAdded($event)">
                        <SuggestionView tkAutoCompleteSuggestionView>
                            <ng-template tkSuggestionItemTemplate let-item="item">
                                <StackLayout orientation="vertical" padding="10">
                                    <Label [text]="item.text"></Label>
                                </StackLayout>
                            </ng-template>
                        </SuggestionView>
                    </RadAutoCompleteTextView>
                    <!-- <Label text="SUGGEST MODES" marginTop="5"></Label>
                    <StackLayout orientation="horizontal">
                        <Button margin="5" text="Suggest" (tap)="onSuggestSelected($event)"></Button>
                        <Button margin="5" text="Append" (tap)="onAppendSelected($event)"></Button>
                        <Button margin="5" text="Suggest-Append" (tap)="onSuggestAppendSelected($event)"></Button>
                    </StackLayout>
                    <Label text="COMPLETION MODES"></Label>
                    <StackLayout orientation="horizontal">
                        <Button margin="5" text="StartsWith" (tap)="onStartsWithSelected($event)"></Button>
                        <Button margin="5" text="Contains" (tap)="onContainsSelected($event)"></Button>
                    </StackLayout>
                    <Label text="DISPLAY MODES"></Label>
                    <StackLayout orientation="horizontal">
                        <Button margin="5" text="Plain" (tap)="onPlainSelected($event)"></Button>
                        <Button margin="5" text="Tokens" (tap)="onTokensSelected($event)"></Button>
                    </StackLayout> -->
                </StackLayout>

                <StackLayout class="p-32">
                    <Label class="font-size-16 m-b-16 color-black-87" text="Remarks"></Label>
                    <tns-platform-ckeditor 
                        [fieldValue]="answerForm.get('Remarks').value"
                        (onValueChange)="onCkeditorValueChange($event, answerForm.get('Remarks'))">
                    </tns-platform-ckeditor>
                </StackLayout>
            </StackLayout>
        </FlexboxLayout>
    </ScrollView>

    <StackLayout width="100%" borderColor="#dfdfdf" borderWidth="1" orientation="horizontal" height="150dp" class="p-x-32">
        <StackLayout width="50%" verticalAlignment="center">
            <Button  borderColor="#dfdfdf" borderWidth="1" text="Discard" horizontalAlignment="left" class="font-weight-600 font-size-14 text-spacing-015"
                style="height: 50dp;background: #fff" (tap)="cancelAnswer()"></Button>
        </StackLayout>
        <StackLayout width="50%" verticalAlignment="center">
            <Button borderColor="#dfdfdf" borderWidth="1" text="Save" horizontalAlignment="right"
                    class="btn-primary font-weight-600 font-size-14 text-spacing-015" (tap)="submitAnswer()" style="height: 50dp"></Button>
        </StackLayout>
    </StackLayout>
</FlexboxLayout>