<GridLayout class="m-12" *ngIf="data && data.length > 0; else noDataTemplate">
    <RadListView [items]="data" loadOnDemandMode="Auto" loadOnDemandBufferSize="2" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)">
        <ng-template tkListItemTemplate let-item="item" let-i = index>
            <CardView class="m-12" style="background-color: white" ripple="true"  elevation="4" radius="1" android:shadowRadius="1" (tap)="onCardItemClick(item)">
                <ng-container *ngTemplateOutlet="cardItemTemplate;context:{item: item, index: i}" ></ng-container>
            </CardView>
        </ng-template>
        
        <ListViewGridLayout tkListViewLayout scrollDirection='Vertical' ios:itemHeight="500" [spanCount]="spanCount"></ListViewGridLayout>
    </RadListView>
</GridLayout>

<ng-template #noDataTemplate>
    <StackLayout verticalAlignment="center" horizontalAlignment="center" height="100%" width="100%" class="text-center">
        <Label text="{{noResultMessage}}"></Label>
    </StackLayout>
</ng-template>

