
.card-layout {
    padding: 0;
    background: #EAEEF1;
}

.card-layout-top{
   //background-image: url("res://icon");
   background-color: #EAEEF1;
   background-position: right bottom;
   background-repeat: no-repeat;
}

.card-layout-top-head{
    font-family: "DBHead-Black";
    padding: 25 24 25 24;
    font-size: 20;
    color: #0087B9;
}
.card-layout-top-year{
    font-family: "DBHead-Black";
    font-size: 14;
    padding: 0 24 25 24; 
    color: #0087B9;
    line-height: 32;
}
.card-layout-top-title{
    padding: 0 24 0 24; 
    font-family: "DBSans-Regular";
    font-size: 9;
    line-height: 11;
    color: #646973;
    text-align: left;
}
.card-layout-top-desc{
    padding: 0 24 16 24; 
    font-family: "DBSans-Bold";
    font-size: 12;
    color: #646973;
    text-align: left;
}

.card-layout-top-desc-bold{
    font-family: "DBSans-Bold";
    padding-bottom: 8;
}
.card-layout-bottom{
    padding: 16;
    background-color: #ffffff;
}

.card-layout .h1 {
    margin-bottom: 15;
}
/* .page > .box ~ .box {
    margin-left: 24;
} */

.fine{
    font-size: 25;
    color: #F01414;
    margin-top:7
}

.fine1{
    font-size: 25;
    color: green;
    margin-top:7
}

.fine2{
    margin-bottom: 15;
}

.fine3{
    margin-bottom: 40px;
}

.fine4{
    padding-bottom: 8px;
}


.msc_btnCancel {
    background-color: white;
    color: #F01414;
    /*padding: 20;*/
    font-size: 16;
    /*margin-left: 10;*/
    /*margin-right: 10;*/
    width: 200;
    text-transform: none;
}

.msc_margin81{
    margin-top:12;
    font-size: 20;
}

.search-results {
    height: 100%;
}
