<StackLayout class="sidedrawer-content">
    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected(item.url)" (tap)="onNavItemTap(item)"
        *ngFor="let item of navigations">
        <!-- <Label col="0" padding="10" [text]="'fa-bluetooth' | fonticon" class="fa"></Label> -->
        <ng-container *ngIf="!item.isHidden" orientation="horizontal" horizontalAlignment="center">
            <Label col="0" padding="10" [text]="item.icon" class="fa"></Label>
            <Label col="1" padding="10" [text]="item.title"></Label>
        </ng-container>
    </GridLayout>
    <!-- <StackLayout class="hr-light"></StackLayout>
    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
        <Label col="0" padding="10" text="&#xf013;" class="fa"></Label>
        <Label col="1" padding="10" text="Settings"></Label>
    </GridLayout> -->
</StackLayout>