<EcapSideUserBar [customSideNavTemplate]="customSideNavTemplate"></EcapSideUserBar>
<ScrollView row="1">
    <EcapNavBar [navigations]="navigations" (onLogoutEvent)="logoutEvent($event)"></EcapNavBar>
</ScrollView>
<StackLayout row="2" class="sidedrawer-appversion">
    <Label *ngIf="appversionName" style="font-weight: 600; color:#858585" [text]="'v' + appversionName" textWrap="true" class="text-center"></Label>
</StackLayout>
