<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" title="107 Front Body Length - HPS to Hem" [showMenuButton]="false"
               [backbuttonConfig]="backbuttonConfig" class="action-bar" backbuttonIconUrl="res://icn_back"></EcapActionBar>

<StackLayout>
    <StackLayout class="p-16" width="100%" backgroundColor="#F0F0F0" orientation="horizontal" borderBottomWidth="1" borderColor="#E1E6EB">
        <Label class="font-weight-bold m-r-8" text="Tolerance:" fontSize="16" color="#787D87"></Label>
        <Label class="m-r-24" text="1/4 (+/-)" fontSize="16" color="#787D87"></Label>
        <Label class="font-weight-bold m-r-8" text="Spec Size:" fontSize="16" color="#787D87"></Label>
        <Label text="27" fontSize="16" color="#787D87"></Label>
    </StackLayout>

    <GridLayout rows="*" columns="*,auto">
        <GridLayout rows="*,auto" columns="*,2*,*" row="0" col="0">
            <StackLayout row="0" col="1">
                <Label class="m-t-30" text="Does it satisfy the tolerance level?" fontSize="24" color="#2F2F2F"></Label>
                <StackLayout orientation="horizontal">
                    <Label class="m-t-12" text="Recording for element " fontSize="14" color="#787D87"></Label>
                    <Label class="m-t-12 color-primary-500" text="S" fontSize="14"></Label>
                </StackLayout>

                <StackLayout orientation="horizontal" class="m-t-28 m-b-30 form">
                    <StackLayout class="{{isYesTapped ? 'm-r-16 isTapped' : 'm-r-16 isNotTapped'}}" height="156" width="250" verticalAlignment="center" (tap)="onButtonTap('yes')">
                        <Label class="color-primary-500 font-weight-bold" fontSize="48" text="Yes" textAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout class="{{isNoTapped ? 'm-r-16 isTapped' : 'm-r-16 isNotTapped'}}" class="m-r-16" height="156" width="250" verticalAlignment="center" (tap)="onButtonTap('no')">
                        <Label class="color-primary-500 font-weight-bold" fontSize="48" text="No" textAlignment="center"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout [formGroup]="measurementToleranceLevel" class="m-t-28">
                    <Label class="m-t-8 m-b-16" text="Inspected Tolerance Level" fontSize="16" color="#141923"></Label>
                    <TextField formControlName="toleranceLevel" fontSize="32" color="#141923"></TextField>
                </StackLayout>
            </StackLayout>
            <GridLayout row="1" col="0" colSpan="3" rows="*" columns="*,2*,*"  borderColor="rgba(0, 0, 0, 0.2)" borderTopWidth="1">
                <Button row="0" col="1" text="Save Inspection" color="#FFFFFF" verticalAlignment="bottom" horizontalAlignment="right" backgroundColor="#C2420C" height="64" width="250"></Button>
            </GridLayout>
        </GridLayout>
        <StackLayout height="100%" row="0" col="1" backgroundColor="#2F2F2F" verticalAlignment="center">
            <StackLayout class="m-b-16" height="64" width="64" verticalAlignment="center">
                <Label textAlignment="center" class="md-icon" fontSize="24" color="#FFFFFF" text="&#xebf9;"></Label>
            </StackLayout>
            <StackLayout height="64" width="64" verticalAlignment="center" backgroundColor="#C2420C">
                <Label textAlignment="center" class="md-icon" fontSize="24" color="#FFFFFF" text="&#xea8a;"></Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>

 </StackLayout>
