<StackLayout margin="24" horizontalAlignment="center" verticalAlignment="center">
    <StackLayout width="50%" orientation="vertical" horizontalAlignment="center">
        <Image [src]="gdprConfiguration.logo.src" stretch="aspectFit"></Image>
    </StackLayout>
    <ng-container #vcr></ng-container>
    <StackLayout class="gdprFooter" orientation="horizontal" marginTop="12" horizontalAlignment="right">
        <Button text="Disagree" class="btn-primary gdprButton" (tap)="disagree('Cancel')"></Button>
        <Button text="Agree" class="btn-primary gdprButton" (tap)="agree('OK')"></Button>
    </StackLayout>
</StackLayout>