@import "./theme/styles.scss";
.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

.md-icon {
    font-family: MaterialIcons, material-icons;
}

.test {
    background-color: aqua;
}

.border-left-4 {
    border-radius: 4 0 0 4;
}

.border-left-8 {
    border-radius: 8 0 0 8;
}

.border-right-4 {
    border-radius: 0 4 4 0;
}

.border-right-8 {
    border-radius: 0 8 8 0;
}

.spinner {
    background-color: blueviolet;
    height: 60;
    width: 60;
    position:relative;
    overflow: hidden;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    clip-path: circle(60% at 50% 50%);

    .outerCircle {
        position:absolute;
        height: 30;
        width: 30;
        background-color: yellow;

        // clip-path: circle(10% at 50% 100%);
    }

    .innerCircle {
        height: 30;
        width: 30;
        background-color: aqua;
        border-radius: 50%;
        top: 15;
        left: 15;
    }
}


@keyframes rotate {
    from { transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}
