.sc_header {
    margin: 3;
    font-size: 16;
    font-weight: bold;
    margin-left: 20;
}

.sc_body {
    font-family: DBSans-Regular;
    font-size: 20;
    color: #141923;
    margin: 3;
    margin-bottom: 20;
    margin-left: 20;
}

.sc_icon {
    height: 90;
    margin: 20;
}

.sc_logout {
    margin: 20;
}
.sc_grid {
    margin: 10;
}
.sc_btnCancel {
    background-color: white;
    color: #F01414;
    padding: 20;
    font-size: 16;
    margin-left: 10;
    margin-right: 10;
    width: 200;
    text-transform: none;
}

.sc_submit-button {
    background-color: #F01414;
    color: white;
    padding: 20;
    font-size: 16;
    margin-left: 10;
    margin-right: 10;
    width: 200;
    text-transform: none;
    /* margin-top: 20; */
}

.sc_fine21 {
    margin: 30;
    min-width: 550;
}

.sc_fine22 {
    margin-top: 40
}

.sc_header_960 {
    margin: 2.25;
    font-size: 12;
    font-weight: bold;
    margin-left: 15;
}

.sc_body_960 {
    font-family: DBSans-Regular;
    font-size: 16;
    color: #141923;
    margin: 2.25;
    margin-bottom: 7.5;
    margin-left: 15;
}

.sc_icon_960 {
    height: 67.5;
    margin: 15;
}

.sc_logout_960 {
    margin: 15;
}

.sc_btnCancel_960 {
    background-color: white;
    color: #F01414;
    padding: 15;
    font-size: 13;
    margin-left: 7.5;
    margin-right: 7.5;
    width: 150;
    text-transform: none;
}

.sc_submit-button_960 {
    background-color: #F01414;
    color: white;
    padding: 15;
    font-size: 12;
    margin-left: 7.5;
    margin-right: 7.5;
    width: 150;
    text-transform: none;
    /* margin-top: 20; */
}

.sc_fine21_960 {
    margin: 22.5;
    min-width: 450;
}

.sc_fine22_960 {
    margin-top: 30
}

.sc_worked_label {
    font-family: DBSans-Bold;
    font-size: 16;
    color: #141923;
    margin: 8 12 8 12;
}

.sc_yetto_worked_label {
    font-family: DBSans-Bold;
    font-size: 16;
    color: #D7DCE1;
    margin: 8 12 8 12;
}