<StackLayout [ngClass]=" isTabWidthIsNineSixty? 'sc_fine21_960' : 'sc_fine21'" (loaded)="onModalLoaded($event)">
    <!--<GridLayout rows="70,450" columns="700">-->
    <!--<StackLayout orientation="vertical" horizontalAlignment="center" class="sc_icon">-->
    <!--<Image src="~/images/gr_logo_full.jpg" stretch="aspectFit"></Image>-->
    <!--</StackLayout>-->
    <Label [ngClass]=" isTabWidthIsNineSixty? 'sc_body_960' : 'sc_body'"
           text="Please wait while your data is being synced"
           textWrap="true"></Label>
    <GridLayout *ngFor="let step of syncProgressStepArray;  let j = index;" class="sc_grid"
                rows="auto, auto, auto, auto, auto"
                columns="auto,auto">
        <Label *ngIf="step.StatusCode==='Progress'" row="0" col="0" [text]="'gr-sync_progress' | fonticon"
               style="color:#f01414;" fontSize="36" class="gr" #j (loaded)="startProgressAnimation(j)"></Label>
        <Label *ngIf="step.StatusCode==='Finished'" row="0" col="0" [text]="'gr-sync-success' | fonticon"
               style="color:#3ca532;" fontSize="36" class="gr"></Label>
        <Label *ngIf="step.StatusCode==='Yettostart'" row="0" col="0" [text]="'gr-ic_Dashboard' | fonticon"
               style="color:#D7DCE1;" fontSize="36" class="gr"></Label>
        <Label row="0" col="1" [ngClass]="step.StatusCode==='Yettostart'? 'sc_yetto_worked_label' : 'sc_worked_label'"
               text="{{step.StepName}}" textWrap="true"></Label>
        <!--<Label row="2" col="0" [text]="'gr-ic_Dashboard' | fonticon" fontSize="40"  [ngClass]=" isTabWidthIsNineSixty? 'margin81_960' : 'margin81'" class="gr"></Label>-->
        <!--<Label row="2" col="1"  [ngClass]=" isTabWidthIsNineSixty? 'sc_body_960' : 'sc_body'" text="Uploading Data" textWrap="true"></Label>-->
    </GridLayout>
    <StackLayout row="1" col="0" orientation="horizontal" horizontalAlignment="right"
                 [ngClass]=" isTabWidthIsNineSixty? 'sc_fine22_960' : 'sc_fine22'">
        <Button *ngIf="syncProgressStepArray[2].StatusCode !=='Finished'"
                [ngClass]=" isTabWidthIsNineSixty? 'sc_btnCancel_960' : 'sc_btnCancel'"
                verticalAlignment="center" text="Okay" backgroundColor="#e1e6eb"
                (tap)="modalClose(false)"></Button>
        <Button *ngIf="syncProgressStepArray[2].StatusCode !=='Finished'"
                [ngClass]=" isTabWidthIsNineSixty? 'sc_btnCancel_960' : 'sc_btnCancel'"
                verticalAlignment="center" text="Cancel" backgroundColor="#e1e6eb"
                (tap)="modalClose(false)"></Button>
        <Button *ngIf="syncProgressStepArray[2].StatusCode ==='Finished'"
                [ngClass]=" isTabWidthIsNineSixty? 'sc_submit-button_960' : 'sc_submit-button'"
                verticalAlignment="center" text="Skip Media Download" (tap)="modalClose(true)"></Button>
    </StackLayout>
</StackLayout>