.mediaSwitchBtn{
    background-color: red;
    border-width: 1;
    border-color: #141923;
}
Switch#mediaSelStatus[checked=true]{
    color:#141923;
    background-color: #141923;
    transform: scale(1.25, 1.25);
    transform: translate(-5,0);
}

Switch#mediaSelStatus[checked=false]{
    color: gray;
    background-color: gray;
}

.padding25{
    padding: 20;
}

.padding26{
    padding: 16 0 0 0;
}

.padding25_960{
    padding: 15;
}

.padding26_960{
    padding: 12 0 0 0;
}

.mediaSwitchBtn_960{
    background-color: red;
    border-width: .75;
    border-color: #141923;
}
