<!-- <ScrollView height="100%"> -->
    <StackLayout>
        <StackLayout >
            <!-- <StackLayout orientation="horizontal">
                <Label width="60%" [text]="imageOptionContainer.title"></Label>
                
                <Label (tap)="closeDrawer()" width="40%" style="text-align: right;color:black;" class="gr"
                       fontSize={{40*screenRationHeight}}></Label>
            </StackLayout>
            <Label text="Please select a photo"></Label> -->
            <StackLayout>
                <tns-platform-image-picker *ngIf="!imageOptionContainer.hideImagePicker"
                                 (onImageCapture)="imageCaptured($event)"
                                 (onImageUpload)="imageUploaded($event)"
                                 (onImagePickerEventData)="imageData($event)"
                                 (cool)="cool"
                ></tns-platform-image-picker>
            </StackLayout>
            
            <GridLayout *ngIf="!imageOptionContainer.hideMultiSelectToggle"  [ngClass]=" isTabWidthIsNineSixty? 'padding26_960' : 'padding26'" rows="auto, auto" columns="*, *">
                <Label fontSize={{16*screenRationHeight}} style="color: #282D37;" class="" text="Media Selection Mode" textWrap="true"
                       row="0" col="0"></Label>
                <Switch  id="mediaSelStatus" checked="false"
                        (checkedChange)="onMediaSelectionChange($event)" row="0" col="1"></Switch>
            </GridLayout>
            <!-- <ng-container *ngIf="!imageOptionContainer.hideGalleryFilter"
                          [ngTemplateOutlet]="imageOptionContainer.galleryFilterTemplate? imageOptionContainer.galleryFilterTemplate : defaultFilter"
                          [ngTemplateOutletContext]="imageOptionContainer">
            </ng-container> -->
        </StackLayout>
        <StackLayout>
            <!--[mediaSelectionMode]="mediaSelMode-->
            <!-- <tns-platform-image-gallery *ngIf="!imageOptionContainer.hideGallery"
                                (selectedImage)="previewImageTap($event)"
                                (selectedImagesList)="previewImageListSelection($event)"
                              [imageList]="galleryImageList"></tns-platform-image-gallery> -->
        </StackLayout>
    </StackLayout>
<!-- </ScrollView> -->

<ng-template #defaultFilter let-title="title">
    <Label [text]="title" (tap)="tapFromCompo()"></Label>
</ng-template>
