<StackLayout backgroundColor="#FFFFFF" style="text-align:center;height: 600;width:600;">
    <StackLayout style="border-color:#000000; border-width:4px">
        <GridLayout rows="{{60*screenRationHeight}}" columns="*,4*,*">
            <Label col="1" row="0" text="AUDIO PLAYER" class="p-24" fontSize={{24*screenRationHeight}}
                style="color:#83878e"></Label>
            <Label col="2" row="0" horizontalAlignment="center" 
                verticalAlignment="center" fontSize={{24*screenRationHeight}} text="&#xf00d;" style="color:#83878e"
                class="fa" (tap)="closePlayer()"></Label>
        </GridLayout>
    </StackLayout>
    

    <StackLayout class="hr-light"></StackLayout>
    <StackLayout orientation="vertical" class="h-full border" verticalAlignment="center" horizontalAlignment="center">
        <StackLayout style="text-align:center;padding: 32px">
            <Label text="Track Name" fontSize={{30*screenRationHeight}}></Label>

            <Label *ngIf="!isPlaying" (tap)="playRecordedFile()" text="&#xf04b;" fontSize={{70*screenRationHeight}}
                style="color:#000000;" class="fa"></Label>
            <Label (tap)="stopPlaying()" *ngIf="isPlaying" text="&#xf04d;" fontSize={{70*screenRationHeight}}
                style="color:#000000" class="fa"></Label>
        </StackLayout>
        <StackLayout orientation="horizontal" style="color:black;" horizontalAlignment="center">
            <Label text="{{ minuteString }}" fontSize={{30*screenRationHeight}}></Label>
            <Label text=":" fontSize={{30*screenRationHeight}}></Label>
            <Label text="{{ secondString }}" fontSize={{30*screenRationHeight}}></Label>
            <!-- <Label text=":" fontSize={{30*screenRationHeight}}></Label>
            <Label text="{{millisecondString}}" fontSize={{30*screenRationHeight}}></Label> -->
        </StackLayout>
        <!-- <StackLayout *ngIf="!player" style="text-align:center;">
            <Label text="&#xf04b;" fontSize={{40*screenRationHeight}}
                style="color:#000000" class="fa"></Label>
        </StackLayout> -->
        <Progress [value]="progressValue" 
                (valueChanged)="onValueChanged($event)" 
                maxValue="100" class="m-20">
        </Progress>
    </StackLayout>

    <!-- <StackLayout StackLayout style="text-align:center;margin-top:24px">
        <Label (tap)="playRecordedFile()" text="&#xf04b;" fontSize={{40*screenRationHeight}}
            style="color:#000000;" class="fa"></Label>
        <Label (tap)="stopPlaying()" *ngIf="isPlaying" text="&#xf04d;" fontSize={{40*screenRationHeight}}
            style="color:#000000" class="fa"></Label>
    </StackLayout> -->
</StackLayout>