<FlexboxLayout flexDirection="column">
    <Label text="flex-end" (tap)="modalClose(false)" class="gr" style="font-size: 40;color:rgb(0, 0, 0) ; "
           text="close" alignSelf="flex-end"></Label>
    <pdf:PDFView flexGrow="1" src="{{ pdfSrc }}" (load)="onPDFLoad()"></pdf:PDFView>
</FlexboxLayout>
