.btnCancel {
    font-family: DBSans-Regular;
    font-size: 16px;
    color: #141923;
    margin: 2 20 2 0;
    min-height: 65;
    text-transform: capitalize;
}
.btnSave {
    font-family: DBSans-Bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 20;
    margin: 2 20 2 0;
    min-height: 65;
    text-transform: capitalize;
}
.previewHead{

}
.modalCard{
    margin-top:20;
    padding: 17;
    border-color: #EAEEF1;
    border-width: 2;
}
.detCardHead {
    font-family: DBSans-Bold;
    font-size: 20px;
    color: #141923;
}
.detCardSubHead{
    font-family: DBSans-Bold;
    font-size: 16px;
    color: #787D87;
}
.mrTop15{
    margin-top: 15;
}
.detCardSubVal{
    font-family: DBSans-Regular;
    font-size: 16px;
    color: #0087B9;
}
.eventCreateHead {
    font-family: DBSans-Bold;
    font-size: 24px;
    color: #141923;
}
.eventCreateStepContent{
    margin: 24 2 0 24;
    bottom:-100;
}
.eventCreateStepContentHead{
    margin: 0 32 15 0;
}

.eventMediaContainer{
    border-left-width:2;
    border-left-color:#3C414B;
    background-color: #EAEEF1;
}
.eventMediaHeader{
    padding: 20, 0;
    background-color: #3C414B;
    color: #ffffff;
    font-size:14;
}
.eventMediaFileContainer{
    padding: 24;
    background-color:  #EAEEF1;
}