<EcapActionBar [actionBarConfiguration]="actionBarConfiguration" title="Shipment Details" [showMenuButton]="false"
               [backbuttonConfig]="backbuttonConfig" class="action-bar" backbuttonIconUrl="res://icn_back"></EcapActionBar>

<RadSideDrawer [drawerTransition]="sideDrawerTransition" drawerLocation="Right" [drawerContentSize]="screenRationWidth" gesturesEnabled="false" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent backgroundColor="#5a5f68">
        <!-- <StackLayout orientation="horizontal" horizontalAlignment="right">
            <Label text="&#xf057;" fontSize="30" style="color:#FFFFFF;" class="fa p-16" (onCloseEvent)="closeModal()"></Label>
        </StackLayout> -->
        <!-- Image plugin  -->
        <tns-form-recording-image (onImageSelected)="receivedImage($event)" (onCloseEvent)="closeModal()"></tns-form-recording-image>
    </StackLayout>
    <StackLayout tkMainContent *ngIf="shipment">
        <GridLayout rows="*,auto" columns="*">
            <StackLayout row="0" col="0">
                <ScrollView height="100%">
                    <StackLayout class="main">
                        <GridLayout class="shipment-name" rows="*" columns="2*,*">
                            <StackLayout row=0 col=0>
                                <Label class="name" [text]="shipment.ShipmentNumber" textwrap="true"></Label>
                                <Label class="address" [text]="shipment.SiteAddress" textwrap="true"></Label>
                            </StackLayout>
                            <StackLayout row=0 col=1>
                                <Label *ngIf="shipment.Status === 0" class="approved" text="Approved" horizontalAlignment="right"></Label>
                                <Label *ngIf="shipment.Status === 1" class="incoming" text="{{'tns.incoming' | L}}" horizontalAlignment="right"></Label>
                                <Label *ngIf="shipment.Status === 2" class="waiting" text="{{'tns.wait' | L}}" horizontalAlignment="right"></Label>
                                <Label *ngIf="shipment.Status === 3" class="ongoing" text="On Going" horizontalAlignment="right"></Label>
                                <Label *ngIf="shipment.Status === 4" class="unloading" text="{{'tns.unloading' | L}}" horizontalAlignment="right"></Label>
                                <Label *ngIf="shipment.Status === 8" class="open" text="{{'tns.open' | L}}" horizontalAlignment="right"></Label>
                            </StackLayout>
                        </GridLayout>
                        <StackLayout class="shipment-zone">
                            <Label class="zone" [text]="shipment.UnloadingZoneName"></Label>
                            <GridLayout rows="*" columns="auto,*">
                                <Label class="md-icon m-r-8" row="0" col="0" fontSize="20" text="&#xe9c9;" horizontalAlignment="left"></Label>
                                <FlexboxLayout flexWrap="wrap" row="0" col="1">
                                    <StackLayout *ngFor="let time of shipment.Slot; let last = last;" orientation="horizontal">
                                        <Label class="time" [text]="time" textwrap="true"></Label>
                                        <Label text="," *ngIf="!last" class="p-r-8"></Label>
                                    </StackLayout>
                                </FlexboxLayout>

                            </GridLayout>
                        </StackLayout>
                        <GridLayout class="shipment-timeslot" rows="*" columns="*,*">
                            <GridLayout rows="*,*" columns="*,*" row="0" col="0">
                                <Label class="heading" text="{{'tns.timeSlot' | L}}" row="0" col="0"></Label>
                                <Label class="heading" text="{{'tns.estimatedTimeAllocation' | L}}" horizontalAlignment="left" row="0" col="1"></Label>
                                <Label class="value" text="40 mins'" row="1" col="0"></Label>
                                <Label class="value" [text]="shipment.UnloadDuration" horizontalAlignment="left" row="1" col="1"></Label>
                            </GridLayout>
                            <StackLayout row="0" col="1" verticalAlignment="bottom">
                                <Image class="image" [src]="'res://vehicle' + shipment.VehicleType" horizontalAlignment="right"></Image>
                            </StackLayout>
                        </GridLayout>

                        <StackLayout *ngIf="shipment.ShipmentEquipments" class="shipment-equipment">
                            <Label class="heading" text="{{'tns.equipments' | L}}"></Label>
                            <WrapLayout orientation="horizontal">
                                <StackLayout class="icon" *ngFor="let icon of shipment.ShipmentEquipments" horizontalAlignment="left">
                                    <Image class="image" [src]="'res://equipment' + icon.EquipmentType" verticalAlignment="center" horizontalAlignment="center"></Image>
                                </StackLayout>
                            </WrapLayout>
                        </StackLayout>

                        <Label *ngIf="shipment.ShipmentEquipments" class="slots" text="{{'tns.seeSlots.btn' | L}}"></Label>
                        <GridLayout class="shipment-info" rows="*,*" columns="*,2*">
                            <Label class="heading" row="0" col="0" text="{{'tns.organization' | L}}"></Label>
                            <Label class="heading" row="1" col="0" text="{{'tns.area' | L}}"></Label>
                            <Label class="value" row="0" col="1" [text]="shipment.OrganizationName"></Label>
                            <Label class="value" row="1" col="1" [text]="shipment.SiteName"></Label>
                        </GridLayout>

                        <SlackLayout *ngIf="shipment.ShipmentMaterials !== null" class="shipment-material">
                            <Label class="material" text="{{'tns.material' | L}}"></Label>
                            <WrapLayout orientation="vertical">
                                <StackLayout *ngFor="let material of shipment.ShipmentMaterials" orientation="horizontal">
                                    <GridLayout rows="*" columns="*,2*">
                                        <Label class="heading" row="0" col="0" [text]="material.MaterialName"></Label>
                                        <Label class="value" row="0" col="1" [text]="material.Quantity + ' ' + material.Unit"></Label>
                                    </GridLayout>
                                </StackLayout>
                            </WrapLayout>
                        </SlackLayout>

                        <SlackLayout *ngIf="shipment.Notes" class="shipment-note">
                            <GridLayout class="header" rows="*" columns="4*,*,*">
                                <Label class="notes" row="0" col="0" text="{{'tns.notes' | L}}" verticalAlignment="center"></Label>
                                <Label class="md-icon color-primary-500" row="0" col="1" fontSize="24" text="&#xe99f;" horizontalAlignment="right"></Label>
                                <Label class="md-icon color-primary-500" row="0" col="2" fontSize="24" text="&#xebe1;" horizontalAlignment="right"></Label>
                            </GridLayout>
                            <Label class="details" textWrap="true" [text]="shipment.Notes"></Label>
                        </SlackLayout>

                        <SlackLayout *ngIf="photosLocalObjects.length > 0" class="shipment-photo">
                            <Label class="heading" text="{{'tns.photos' | L}}"></Label>
                            <ScrollView  orientation="horizontal" scrollBarIndicatorVisible="false">
                                <WrapLayout height="220" orientation="vertical">
                                    <ng-container *ngFor="let item of photosLocalObjects; let i = index">
                                        <AbsoluteLayout height="90" width="90" verticalAlignment="center" horizontalAlignment="center" marginRight="16" marginBottom="16">

                                            <StackLayout *ngIf="item.FileData.SaveFilePath" top="15" left="0" class="background" [ngStyle]="{background: 'url(' + imgSrc + ')'}" orientation="horizontal" borderWidth="1" borderColor="#CCCCCC" height="75" width="75">
                                                <Image decodeWidth="75" decodeHeight="75" loadMode="async"
                                                       stretch="aspectFill" [src]="item.FileData.SaveFilePath" verticalAlignment="center"
                                                       horizontalAlignment="center"></Image>
                                            </StackLayout>
<!--                                            <AbsoluteLayout *ngIf="item.FileData.UploadPercentage < 100">-->
<!--                                                <AnimatedCircle height="50" width="50" top="20" left="20" rimColor="transparent" barColor="red" rimWidth="5" [progress]="item.FileData.UploadPercentage"-->
<!--                                                                startAngle="0" endAngle="100" textSize="3" animated="true" text={{item.FileData.UploadPercentage.toString()}} animateFrom="0" [animationDuration]="item.FileData.UploadPercentage"-->
<!--                                                ></AnimatedCircle>-->
<!--                                                &lt;!&ndash; <Label top="28" left="24" [text]="item.UploadPercentage" fontSize="12" color="red"></Label> &ndash;&gt;-->
<!--                                            </AbsoluteLayout>-->
                                            <StackLayout height="20" width="20" top="6" left="66" borderRadius="50%" backgroundColor="#969300"  verticalAlignment="center">
                                                <Label  class="md-icon" color="white" fontSize="16" text="&#xe99b;" textAlignment="center" (tap)="onImageClose(item)"></Label>
                                            </StackLayout>
                                        </AbsoluteLayout>
                                    </ng-container>
                                </WrapLayout>
                            </ScrollView>
                        </SlackLayout>

                        <SlackLayout *ngIf="shipment.OrgResponsiblePersonName" class="shipment-responsible-person">
                            <Label class="heading" text="{{'tns.responsiblePerson' | L}}"></Label>
                            <GridLayout class="header" rows="*" columns="4*,*,*">
                                <Label class="name" row="0" col="0" [text]="shipment.OrgResponsiblePersonName" verticalAlignment="bottom"></Label>
                                <Label class="md-icon color-primary-500" row="0" col="1" fontSize="24" text="&#xe96e;" horizontalAlignment="right"></Label>
                                <Label class="md-icon color-primary-500" row="0" col="2" fontSize="24" text="&#xe95a;" horizontalAlignment="right"></Label>
                            </GridLayout>
                        </SlackLayout>

                        <SlackLayout *ngIf="shipment.DriverName" class="shipment-driver">
                            <Label class="heading" text="{{'tns.driver' | L}}"></Label>
                            <GridLayout class="m-b-8 header" rows="*" columns="4*,*,*">
                                <Label class="name" row="0" col="0" [text]="shipment.DriverName" verticalAlignment="bottom"></Label>
                                <Label class="md-icon color-primary-500" row="0" col="1" fontSize="24" text="&#xe96e;" horizontalAlignment="right"></Label>
                                <Label class="md-icon color-primary-500" row="0" col="2" fontSize="24" text="&#xe95a;" horizontalAlignment="right"></Label>
                            </GridLayout>
                        </SlackLayout>

                    </StackLayout>
                </ScrollView>
            </StackLayout>
            <Stacklayout row="1" col="0" verticalAlignment="center">
                <StackLayout class="footer">
                    <Label class="shadow" verticalAlignment="top"></Label>
                    <StackLayout class="element">
                        <label class="line" horizontalAlignment="center"></label>
                        <Button class="forward" text="{{'tns.forward.btn' | L}}"></Button>
                    </StackLayout>

                    <GridLayout class="review" rows="*" columns="*,*,*">
                        <StackLayout row="0" col="0">
                            <Label class="md-icon color-primary-500"  fontSize="32" text="&#xe944;" horizontalAlignment="center"></Label>
                            <Label class="value" text="{{'tns.addNotes.btn' | L}}" horizontalAlignment="center"></Label>
                        </StackLayout>
                        <StackLayout row="0" col="1">
                            <Label class="md-icon color-primary-500"  fontSize="32" text="&#xeb02;" horizontalAlignment="center" (tap)="openCamera()"></Label>
                            <Label class="value" text="{{'tns.addPhoto.btn' | L}}" horizontalAlignment="center"></Label>
                        </StackLayout>
                        <Stacklayout row="0" col="2">
                            <Label class="md-icon cancel"  fontSize="32" text="&#xe99b;" horizontalAlignment="center"></Label>
                            <Label class="value-1" text="{{'tns.cancel.btn' | L}}" horizontalAlignment="center" ></Label>
                        </Stacklayout>
                    </GridLayout>
                </StackLayout>
            </Stacklayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>
