/* Add mobile styles for the component here.  */

.main {
    margin: 16 16 8 16;
    .slots {
        padding-top: 24;
        padding-bottom: 40;
        font-size: 16;
        color: #969300;
    }
}

.shipment-name {
    .name {
        font-size: 16;
        color: #262633;
        padding-bottom: 8;
    }
    .address {
        font-size: 12;
        color: rgba(70, 73, 76, .32);
        padding-bottom: 24;
    }
    .approved {
        padding: 2 20 2 20;
        font-size: 12;
        border-width: 1;
        border-color: #06A77D;
        color: #06A77D;
        background-color: rgba(6,167,125,0.10);
        border-radius: 2;
    }
    .waiting {
        padding: 2 20 2 20;
        font-size: 12;
        border-width: 1;
        border-color: #F3A727;
        color: #F3A727;
        background-color: rgba(243,167,39,0.10);
        border-radius: 2;
    }
    .open {
        padding: 2 20 2 20;
        font-size: 12;
        border-width: 1;
        border-color: #AFAEBE;
        color: #AFAEBE;
        background-color: rgba(175,174,190,0.10);
        border-radius: 2;
    }
    .incoming {
        padding: 2 20 2 20;
        font-size: 12;
        border-width: 1;
        border-color: #064789;
        color: #064789;
        background-color: rgba(6,71,137,0.10);
        border-radius: 2;
    }
    .unloading {
        padding: 2 20 2 20;
        font-size: 12;
        border-width: 1;
        border-color: #EF6D00;
        color: #EF6D00;
        background-color: rgba(239,109,0,0.10);
        border-radius: 2;
    }
    .ongoing {
        padding: 2 20 2 20;
        font-size: 12;
        border-width: 1;
        border-color: #ED4242;
        color: #ed4242;
        background-color: rgba(237, 66, 66,0.10);
        border-radius: 2;
    }
    //.completed {
    //    padding: 2 20 2 20;
    //    font-size: 12;
    //    border-width: 1;
    //    border-color: yellow;
    //    color: yellow;
    //    background-color: lightyellow;
    //    border-radius: 2;
    //}
}

.shipment-zone {
    .zone {
        font-size: 16;
        padding-bottom: 16;
        color: #262633;
    }
    .time {
        font-size: 14;
        padding-bottom: 4;
        color: rgba(70, 73, 76, .87)
    }
}

.shipment-timeslot {
    padding-top: 16;
    .heading {
        font-size: 12;
        color: rgba(70, 73, 76, .32);
        padding-bottom: 8;
    }
    .value {
        font-size: 16;
        color: #46494C;
    }
    .image {
        padding-top: 8;
        padding-bottom: 8;
        width: 90;
    }
}

.shipment-equipment {
    padding-top: 40;
    .heading {
        font-size: 12;
        color: rgba(70, 73, 76, .32);
        padding-bottom: 8;
    }
    .icon {
        border-color: rgba(70, 73, 76, .12);
        border-width: 1;
        width: 72;
        border-radius: 4;
        margin-right: 8;
        margin-top: 8;
    }
    .image {
        width: 32;
        margin: 4;
    }
}

.shipment-info {
    margin-top: 8;
    .heading {
        font-size: 16;
        padding-bottom: 8;
        color: rgba(70, 73, 76, .32);
    }
    .value {
        font-size: 16;
        padding-bottom: 8;
        color: rgba(70, 73, 76, .87);
    }
}

.shipment-material {
    .material {
        padding-top: 32;
        padding-bottom: 8;
        font-size: 12;
        color: rgba(70, 73, 76, .32);
    }
    .heading {
        font-size: 16;
        color: rgba(70, 73, 76, .87);
        padding-bottom: 8;
        margin-right: 16;
    }
    .value {
        font-size: 16;
        color: rgba(70, 73, 76, .87);
        padding-bottom: 8;
    }
}

.shipment-note {
    .header {
        padding-top: 36;
        padding-bottom: 24;
        font-size: 12;
        color: rgba(70, 73, 76, .32);
    }
    .details {
        font-size: 16;
        color: rgba(70, 73, 76, .87);
    }
}

.shipment-photo {
    .heading {
        padding-top: 40;
        padding-bottom: 16;
        font-size: 12;
        color: rgba(70, 73, 76, .32);
    }
    .photo {
        border-width: 1;
        border-color: black;
        margin-right: 8;
    }
}

.shipment-responsible-person {
    .heading {
        padding-top: 40;
        padding-bottom: 16;
        font-size: 12;
        color: rgba(70, 73, 76, .32);
    }
    .name {
        font-size: 12;
        color: #46494C;
    }
}

.shipment-driver {
    .heading {
        padding-top: 40;
        padding-bottom: 16;
        font-size: 12;
        color: rgba(70, 73, 76, .32);
    }
    .name {
        font-size: 12;
        color: #46494C;
    }
}

.footer {
    //border-top-width: 1;
    //border-top-color: rgba(70, 73, 76, .12);
    .shadow {
        height: 4;
        background: linear-gradient(to top, rgba(70,73,76, .12), rgba(0, 0, 0, 0));
    }
    .element {
        margin-top: 16;
        .line {
            border-radius: 2;
            height: 4;
            width: 120;
            background-color: rgba(150, 147, 0, .5);
            margin-bottom: 8;
        }
        .forward {
            border-radius: 24;
            height: 48;
            width: 300;
            background-color: #969300;
            text-align: center;
            font-size: 16;
            color: white;
            margin-bottom: 20;
        }
    }
    .review {
        .cancel {
            color: #EF2D56;
            font-size: 32;
        }
        .value {
            padding-top: 16;
            color: #969300;
            font-size: 16;
            padding-bottom: 16;
        }
        .value-1 {
            padding-top: 16;
            color: #EF2D56;
            font-size: 16;
            padding-bottom: 16;
        }
    }
}

.shipmentEquipmentModal {
    margin: 0 24 24 24;
    .equipments {
        .equipment-name {
            color: #262633;
        }
        .equipment-image-border {
            margin-top: 16;
            width: 72;
            height: 40;
            border-width: 1;
            border-color: rgba(70, 73, 76, .12);
            border-radius: 4;
            margin-bottom: 18;
            .equipment-image {
                width: 32;
                margin: 4;
            }
        }
        .time-icon {
            color: #000000;
        }
        .time {
            padding-bottom: 8;
            .equipment-time {
                color: rgba(70, 73, 76, .87);
            }
        }
    }
}

.modalHeader {
    height: 50;
    background-color: #969300;
    .modalText {
        color: white;
    }
}

.background {
    //background-image: url("res://selise_screen");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90;
    width: 90;
}
